body {
	font-family: arial, helvetica, serif;
	font-size: 80%;
	background: #000000 url(images/ddbg3.gif) no-repeat 6000px 6000px;
	padding: 2em;
	margin: 0;
}

#content {
	width: 52em;
	background-color: #999999;
	padding: 1em 0;
	border: 0px none;
	margin: auto;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 52em;
	height: 510px;
	background-position: center;
	text-align: left;
}
html>body #content {
	width: 52em;
} 

a {
	text-decoration: none;
}

a:link {
	color: #0000FF;
}

a:visited {
	color: #0099FF;
}

a:active {
	color: #990000;
}

a:hover {
	text-decoration: underline;
}

h1 {
	text-align: center;
	padding: 0 0 0.25em 0;
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav a {
	font-weight: bold;
	color: #0000FF;
}

#nav a {
	text-decoration: none;
}

#nav li li a {
	display: block;
	font-weight: normal;
	color: #0000FF;
	padding: 0.2em 10px;
}

#nav li li a:hover {
	padding: 0.2em 5px;
	border: 5px solid #0000cc;
	border-width: 0 5px;
}

li {
	float: left;
	position: relative;
	width: 130px;
	text-align: center;
	cursor: default;
	background-color: white;
	border: 1px solid #0000cc;
	border-width: 1px 0;
	height: 30px;
}

li#first {
	border-left-width: 1em;
}

li#last {
	border-right-width: 1em;
}

li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	font-weight: normal;
	background: url(images/ddbg3.gif) bottom left no-repeat;
	padding: 0.5em 0 1em 0;
	border-right: solid 1px #0000cc;
	background-color: #FFFFFF;
}

li>ul {
	top: auto;
	left: auto;
}

li li {
	display: block;
	float: none;
	background-color: transparent;
	border: 0;
}

li:hover ul, li.over ul {
	display: block;
}

hr {
	display: none;
}

p {
	clear: left;
	background: url(images/remora.gif) center left no-repeat;
	padding: 1em 1em 0 1em;
	margin: 0;
}

p.image {
	float: right;
	font-size: 0.8em;
	text-align: center;
	color: #0000cc;
	padding: 1.25em 1.25em 0.25em 0.25em;
}

p.image img {
	display: block;
	border: 1px solid #0000cc;
}
.copy_box1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .98em;
	width: 60%;
	display: block;
	padding-left: 25px;
	padding-top: 25px;
}
h3 {
	display: inline;
}