<<<<<<< HEAD
.version.index /* version checker */
{
	color: #000011;
	background-color: #9E2510;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1505px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 2px;
	width: 0.01px;/* should not cover content below */
}

#slideshowu5925
{
	z-index: 94;
	width: 0.01px;
	height: 449px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
}

#u5942
{
	position: absolute;
	width: 1160px;
	height: 449px;
	background-color: transparent;
}

#u5942popup
{
	z-index: 95;
}

#u5943
{
	z-index: 96;
	width: 1160px;
	height: 449px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6039
{
	z-index: 98;
	width: 1160px;
	height: 449px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6067
{
	z-index: 100;
	width: 1160px;
	height: 449px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5926
{
	position: absolute;
	width: 921px;
	background-color: transparent;
	top: 144px;
	left: 123px;
}

#u5926popup
{
	z-index: 102;
}

#u5929-6
{
	z-index: 103;
	width: 901px;
	min-height: 252px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.15);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u5929-4
{
	font-size: 48px;
	line-height: 67px;
}

#u6051-6
{
	z-index: 109;
	width: 901px;
	min-height: 252px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.15);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u6079-5
{
	z-index: 115;
	width: 901px;
	min-height: 252px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.15);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u6051-3,#u6051-4,#u6079
{
	font-size: 30px;
	line-height: 42px;
}

#u5929-2,#u6051-2,#u6079-3
{
	font-size: 60px;
	line-height: 84px;
}

#u5941-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 940px;
}

#u5941-4popup
{
	z-index: 120;
}

#u5941
{
	color: #999999;
}

#u5939-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 970px;
}

#u5939-4popup
{
	z-index: 124;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u4559-3
{
	z-index: 128;
	min-height: 83px;
}

#u4559-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 83px;
	margin: 0px;
}

#u4559-3:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 83px;
	margin: 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u4559-3-bw
{
	z-index: 128;
	min-height: 83px;
}

#menuu200
{
	z-index: 131;
	width: 316px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 120px;
}

#u201
{
	width: 77px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u202
{
	width: 77px;
	padding-bottom: 23px;
	position: relative;
}

#u202:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u202:active
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u205-4
{
	width: 77px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u202:hover #u205-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u202:active #u205-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1694
{
	width: 77px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u1697
{
	width: 77px;
	padding-bottom: 23px;
	position: relative;
}

#u202.MuseMenuActive,#u1697:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1697:active
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1697.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1700-4
{
	width: 77px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u202.MuseMenuActive #u205-4,#u1697:hover #u1700-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1697:active #u1700-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1697.MuseMenuActive #u1700-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1438
{
	width: 78px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 158px;
}

#u1439
{
	width: 78px;
	padding-bottom: 23px;
	position: relative;
}

#u1439:hover
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1439:active
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1442-4
{
	width: 78px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u1439:hover #u1442-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1439:active #u1442-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1636
{
	width: 78px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u1639
{
	width: 78px;
	padding-bottom: 23px;
	position: relative;
}

#u1439.MuseMenuActive,#u1639:hover
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1639:active
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1639.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1642-4
{
	width: 78px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u1439.MuseMenuActive #u1442-4,#u1639:hover #u1642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1639:active #u1642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1639.MuseMenuActive #u1642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u4133
{
	z-index: 156;
	width: 165px;
	position: relative;
	margin-right: -10000px;
	left: 497px;
}

#u7645
{
	z-index: 158;
	width: 117px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 895px;
}

#u7635
{
	z-index: 163;
	width: 28px;
	position: relative;
	margin-right: -10000px;
}

#u7615
{
	z-index: 161;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 45px;
}

#u5295
{
	z-index: 159;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	left: 89px;
}

#u5659
{
	z-index: 60;
	width: 227px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 19px;
	margin-top: 374px;
	position: relative;
	border-width: 0px 2px 0px 0px;
}

#pslideshowu5545
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 45px;
}

#slideshowu5545
{
	z-index: 53;
	width: 0.01px;
	height: 208px;
	position: relative;
	margin-right: -10000px;
}

#u5546
{
	position: absolute;
	width: 1160px;
	height: 208px;
	background-color: transparent;
}

#u5546popup
{
	z-index: 54;
}

#u5549
{
	z-index: 55;
	width: 1160px;
	height: 208px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5678-3
{
	z-index: 57;
	min-height: 208px;
	-pie-box-shadow: none;
	box-shadow: 7px 7px 8px rgba(0,0,0,0.83);
	background-color: #000000;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
}

#u5678-3-bw
{
	z-index: 57;
	min-height: 208px;
}

#u6280-3
{
	z-index: 62;
	width: 9px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 1349px;
}

#u5684-14
{
	z-index: 80;
	width: 921px;
	min-height: 151px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.82);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 119px;
}

#u5684-2,#u5684-4,#u5684-6,#u5684-8,#u5684-10
{
	text-align: center;
	color: #FFFFFF;
}

#u5684-11
{
	text-align: center;
}

#pu5207-6
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: -783px;
}

#u5207-6
{
	z-index: 65;
	width: 227px;
	min-height: 302px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 2px 0px 0px;
}

#u5220-7
{
	z-index: 73;
	width: 317px;
	min-height: 529px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	line-height: 29px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 282px;
	border-width: 0px 2px 0px 0px;
}

#u5207-2,#u5220
{
	font-style: italic;
}

#u5220-3
{
	font-weight: bold;
}

#u5223
{
	z-index: 71;
	width: 266px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 655px;
	border-width: 0px 1px 0px 0px;
}

#pslideshowu5925,#pu1506
{
	width: 0.01px;
	margin-left: -100px;
}

#u1506,#u1506-bw
{
	z-index: 2;
	height: 170px;
}

#u5287
{
	z-index: 3;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 120px;
}

#u5302
{
	z-index: 5;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 120px;
}

#u5287_img,#u5302_img
{
	padding: 3px 3px 4px 4px;
}

#u5309
{
	z-index: 7;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 120px;
}

#u5351-6
{
	z-index: 9;
	width: 189px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 165px;
}

#u5355-6
{
	z-index: 15;
	width: 150px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 165px;
}

#u5359-6
{
	z-index: 21;
	width: 200px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 166px;
}

#u6835-6
{
	z-index: 27;
	width: 100px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 747px;
}

#u6838-6
{
	z-index: 33;
	width: 100px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 746px;
}

#u6841-6
{
	z-index: 39;
	width: 100px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 746px;
}

#u6844-6
{
	z-index: 45;
	width: 100px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 746px;
}

#u6804
{
	z-index: 51;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 505px;
}

#u7670
{
	z-index: 165;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 984px;
}

#u7672
{
	z-index: 167;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 940px;
}

#u7674
{
	z-index: 169;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 895px;
}

.html
{
	background-color: #FFFFFF;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#FFFFFF 100%);
	background: linear-gradient(to right,#FFFFFF ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=1)";
}

body
{
	position: relative;
	min-width: 960px;
}

=======
.version.index /* version checker */
{
	color: #000011;
	background-color: #9E2510;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1505px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 2px;
	width: 0.01px;/* should not cover content below */
}

#slideshowu5925
{
	z-index: 94;
	width: 0.01px;
	height: 449px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
}

#u5942
{
	position: absolute;
	width: 1160px;
	height: 449px;
	background-color: transparent;
}

#u5942popup
{
	z-index: 95;
}

#u5943
{
	z-index: 96;
	width: 1160px;
	height: 449px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6039
{
	z-index: 98;
	width: 1160px;
	height: 449px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6067
{
	z-index: 100;
	width: 1160px;
	height: 449px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5926
{
	position: absolute;
	width: 921px;
	background-color: transparent;
	top: 144px;
	left: 123px;
}

#u5926popup
{
	z-index: 102;
}

#u5929-6
{
	z-index: 103;
	width: 901px;
	min-height: 252px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.15);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u5929-4
{
	font-size: 48px;
	line-height: 67px;
}

#u6051-6
{
	z-index: 109;
	width: 901px;
	min-height: 252px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.15);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u6079-5
{
	z-index: 115;
	width: 901px;
	min-height: 252px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.15);
	-pie-box-shadow: none;
	box-shadow: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-right: -10000px;
	position: relative;
}

#u6051-3,#u6051-4,#u6079
{
	font-size: 30px;
	line-height: 42px;
}

#u5929-2,#u6051-2,#u6079-3
{
	font-size: 60px;
	line-height: 84px;
}

#u5941-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 940px;
}

#u5941-4popup
{
	z-index: 120;
}

#u5941
{
	color: #999999;
}

#u5939-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 307px;
	left: 970px;
}

#u5939-4popup
{
	z-index: 124;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u4559-3
{
	z-index: 128;
	min-height: 83px;
}

#u4559-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 83px;
	margin: 0px;
}

#u4559-3:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 83px;
	margin: 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u4559-3-bw
{
	z-index: 128;
	min-height: 83px;
}

#menuu200
{
	z-index: 131;
	width: 316px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 120px;
}

#u201
{
	width: 77px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u202
{
	width: 77px;
	padding-bottom: 23px;
	position: relative;
}

#u202:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u202:active
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u205-4
{
	width: 77px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u202:hover #u205-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u202:active #u205-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1694
{
	width: 77px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u1697
{
	width: 77px;
	padding-bottom: 23px;
	position: relative;
}

#u202.MuseMenuActive,#u1697:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1697:active
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1697.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1700-4
{
	width: 77px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u202.MuseMenuActive #u205-4,#u1697:hover #u1700-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1697:active #u1700-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1697.MuseMenuActive #u1700-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u1438
{
	width: 78px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 158px;
}

#u1439
{
	width: 78px;
	padding-bottom: 23px;
	position: relative;
}

#u1439:hover
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1439:active
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1442-4
{
	width: 78px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u1439:hover #u1442-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1439:active #u1442-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1636
{
	width: 78px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u1639
{
	width: 78px;
	padding-bottom: 23px;
	position: relative;
}

#u1439.MuseMenuActive,#u1639:hover
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1639:active
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1639.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1642-4
{
	width: 78px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u1439.MuseMenuActive #u1442-4,#u1639:hover #u1642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1639:active #u1642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1639.MuseMenuActive #u1642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u4133
{
	z-index: 156;
	width: 165px;
	position: relative;
	margin-right: -10000px;
	left: 497px;
}

#u7645
{
	z-index: 158;
	width: 117px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 895px;
}

#u7635
{
	z-index: 163;
	width: 28px;
	position: relative;
	margin-right: -10000px;
}

#u7615
{
	z-index: 161;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 45px;
}

#u5295
{
	z-index: 159;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	left: 89px;
}

#u5659
{
	z-index: 60;
	width: 227px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 19px;
	margin-top: 374px;
	position: relative;
	border-width: 0px 2px 0px 0px;
}

#pslideshowu5545
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 45px;
}

#slideshowu5545
{
	z-index: 53;
	width: 0.01px;
	height: 208px;
	position: relative;
	margin-right: -10000px;
}

#u5546
{
	position: absolute;
	width: 1160px;
	height: 208px;
	background-color: transparent;
}

#u5546popup
{
	z-index: 54;
}

#u5549
{
	z-index: 55;
	width: 1160px;
	height: 208px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5678-3
{
	z-index: 57;
	min-height: 208px;
	-pie-box-shadow: none;
	box-shadow: 7px 7px 8px rgba(0,0,0,0.83);
	background-color: #000000;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
}

#u5678-3-bw
{
	z-index: 57;
	min-height: 208px;
}

#u6280-3
{
	z-index: 62;
	width: 9px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 1349px;
}

#u5684-14
{
	z-index: 80;
	width: 921px;
	min-height: 151px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.82);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 119px;
}

#u5684-2,#u5684-4,#u5684-6,#u5684-8,#u5684-10
{
	text-align: center;
	color: #FFFFFF;
}

#u5684-11
{
	text-align: center;
}

#pu5207-6
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: -783px;
}

#u5207-6
{
	z-index: 65;
	width: 227px;
	min-height: 302px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 2px 0px 0px;
}

#u5220-7
{
	z-index: 73;
	width: 317px;
	min-height: 529px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	line-height: 29px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 282px;
	border-width: 0px 2px 0px 0px;
}

#u5207-2,#u5220
{
	font-style: italic;
}

#u5220-3
{
	font-weight: bold;
}

#u5223
{
	z-index: 71;
	width: 266px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 655px;
	border-width: 0px 1px 0px 0px;
}

#pslideshowu5925,#pu1506
{
	width: 0.01px;
	margin-left: -100px;
}

#u1506,#u1506-bw
{
	z-index: 2;
	height: 170px;
}

#u5287
{
	z-index: 3;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 120px;
}

#u5302
{
	z-index: 5;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 120px;
}

#u5287_img,#u5302_img
{
	padding: 3px 3px 4px 4px;
}

#u5309
{
	z-index: 7;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 120px;
}

#u5351-6
{
	z-index: 9;
	width: 189px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 165px;
}

#u5355-6
{
	z-index: 15;
	width: 150px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 165px;
}

#u5359-6
{
	z-index: 21;
	width: 200px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 166px;
}

#u6835-6
{
	z-index: 27;
	width: 100px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 747px;
}

#u6838-6
{
	z-index: 33;
	width: 100px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 746px;
}

#u6841-6
{
	z-index: 39;
	width: 100px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 746px;
}

#u6844-6
{
	z-index: 45;
	width: 100px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 746px;
}

#u6804
{
	z-index: 51;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 505px;
}

#u7670
{
	z-index: 165;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 984px;
}

#u7672
{
	z-index: 167;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 940px;
}

#u7674
{
	z-index: 169;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 895px;
}

.html
{
	background-color: #FFFFFF;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#FFFFFF 100%);
	background: linear-gradient(to right,#FFFFFF ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=1)";
}

body
{
	position: relative;
	min-width: 960px;
}

>>>>>>> origin/twig
