<div class="form-container">
    <form class="wdt-contact-form" action="" method="post" id="contact_form" accept-charset="UTF-8" /*novalidate="novalidate"*/ >
	    <div>
		    <div class="form-item first-name">
				<label for="first-name">First Name <span class="form-required" title="This field is required.">*</span></label>
				<input required="required" id="first-name" name="submitted[first_name]" value="" size="50" maxlength="128" class="form-text required" type="text">
			</div>
			<div class="form-item textfield last-name">
				<label for="last-name">Last Name <span class="form-required" title="This field is required.">*</span></label>
				<input required="required" id="last-name" name="submitted[last_name]" value="" size="50" maxlength="128" class="form-text required" type="text">
			</div>
			<div class="form-item textfield email">
				<label for="email">Email <span class="form-required" title="This field is required.">*</span></label>
				<input required="required" id="email" name="submitted[email]" value="" size="50" maxlength="128" class="form-text required" type="text">
			</div>
			<div class="form-item textfield phone">
				<label for="phone">Office Number <span class="form-required" title="This field is required.">*</span></label>
				<input required="required" id="phone" name="submitted[phone]" value="" size="50" maxlength="128" class="form-text required" type="text">
			</div>
			<div class="form-item industry col2">
			  <label for="specialty">Industry <span class="form-required" title="This field is required.">*</span></label>
				<select required="required" id="specialty" name="submitted[specialty]" class="form-select required">
				<option value="" selected="selected">- Select -</option>
				<option value="Automotive">Automotive</option>
				<option value="Aerospace">Aerospace</option>
				<option value="Military">Military</option>
				<option value="Marine">Marine</option>
				<option value="Heavy Machinery">Heavy Machinery</option>
				<option value="Reinforced Plastics">Reinforced Plastics</option>
				<option value="Composites">Composites</option>
				<option value="Electronics">Electronics</option>
				<option value="Fasteners">Fasteners</option>	
				</select>
			</div>
			<div class="form-item product-interest col2">
			 <label for="product-interest">Product Interest <span class="form-required" title="This field is required.">*</span></label>
			 <select required="required" id="product-interest" name="submitted[product_interest]" class="form-select required">
			 <option value="" selected="selected">- Select -</option>
			 <option value="Superabrasives">Superabrasives (Countersinks, Drills, Inserts, Groovers)</option>
			 <option value="Heading">Heading (Phonopoints, Dressers, Mandrels)</option>
			 <option value="Files">Laps, Files</option>
			 <option value="Compounds">Compounds</option>
			 <option value="Commounds">Carbide Routers</option></select>
			</div>		
		</div>
		<div class="form-item">
			<label for="contact-question">What can we help you with?<span class="form-required" title="This field is required.">*</span></label>
			<input class="textbox contact-question" type="textarea" size="50">
		</div>
			<input class="submit button-primary form-submit " name="contact-submit" value="Submit" type="submit">
		<!-- <div class="form-actions">
				<div id="clientsidevalidation-search-block-form-errors" class="messages error clientside-error" style="display: none;"><ul></ul></div>
				<div id="clientsidevalidation-webform-client-form-369-errors" class="messages error clientside-error" style="display: none;"><ul></ul></div>
				<div id="clientsidevalidation-webform-client-form-365-errors" class="messages error clientside-error" style="display: none;"><ul></ul></div>			
			</div> -->
	</div>
</div>