  <div class="copy_box1">      
        <p><strong>World Diamond Tool</strong> offers a Complete Line of Diamond tools.<br />
          <br/>Check here for <a href="specials.html">Specials</a>.
        </p>
        <p>Industrial Diamond Tools &bull; <a href="endmills.html">PCD End Mills</a> &bull; <a href="drills.html">Panel Diamond Drills</a>&bull; <a href="inserts.html">CBN &amp; PCD Inserts</a> &bull;Discs<br /> 
          &bull; <a href="core_drills.html">Core PCD Drills</a>&bull; <a href="commutators.html">Commutators</a>
          &bull; <a href="diamond_wheels.html">Diamond Grinding Wheels</a> &bull; Belts &bull; <a href="compounds.html">Diamond Compounds</a> <br>
          &bull; Carbide Tools &bull; <a href="carbide_routers.html">Carbide Routers</a> &bull; Diamond Inserts &bull; Plated Tools &nbsp;&bull; <a href="mandrels.html">CBN &amp; Diamond Mandrels</a> <br>&bull; <a href="mandrels_lg.html">Large Mandrels</a> &bull; <a href="files.html">Diamond Files</a> &bull; <a href="countersinks.html">PCD &amp; Plated Countersinks</a> &bull; <a href="groovers.html">PCD &amp; CBN Groovers</a> <br />
          &bull; <a href="phonopoints.html">Phono Points</a> &bull; <a href="tapered_pins.html">Industrial Pins</a> &bull; <a href="turning_tools.html">PCD &amp; CBN Turning Tools</a> and more. </p>
          <p>
            <strong>Diamond Tools: Solutions for the Most Challenging Applications</strong>
          </p>
          <p>
            World Diamond Tool is dedicated to quality and service.
          </p>
          <p>
            We manufacture and inspect all of our products with precision equipment.  This ensures the highest quality diamond tools. We realize at World Diamond Tool that quick turn-around/service is very important for our customers to achieve their lead times. This comes along with fantastic pricing.
          </p>
          <p>
            Our manfuacturing facility provides a high degree of flexibility for both large and small volume diamond tools.  Our tools have been used in industrial production equipment for many industries including Aerospace, Automotive, Heavy Machinery, Marine, Composites, Reinforced Plastics, Electronics, Military and Fastener Industries.
          </p>
          <p align="center">
            <b>Please contact us for your next diamond tool quote or order and you'll experience our fast and friendly customer service.</b>
          </p>
          <div class="specials_box clearfix center_box">
            <a href="specials.html"><img src="../images/cnmg_special.jpg" border="0" alt="Click Here-Diamond Cutting Tools & Specials"/></a>    
          </div>    
    </div>