    <!-- start menu HTML -->    
    <div class="menu_box clearfix">
      <div id="menu">    
        <ul>    
          <li><a href="/"><h2>HOME</h2></a>    
          </li>    
        </ul>    
        <ul>    
          <li><a href="#">    
            <h2>Products</h2></a>   
            <ul>    
              <li><a id="spacer"></a></li>    
              <li><a href="" title="Diamond Cutting Tools for Industry">Heading</a>    
                <ul>    
                  <li><a href="/index.php?compounds" title="Diamond Compounds">Compounds</a>    
                  </li>    
                  <li><a href="/index.php?natural_tools" title="Natural Diamond Tools">Natural Tools</a>   
                  </li>    
                  <li><a href="/index.php?phonopoints" title="Phono points, Single Cone Point Dressers, Chisel Dressers">Phonopoints</a>    
                  </li>    
                  <li><a href="/index.php?phonopoints" title="Phono points, Single Cone Point Dressers, Chisel Dressers">Single Point Dressers</a>    
                  </li>    
                  <li><a href="/index.php?phonopoints" title="Diamond Chisel Dressers">Chisel Dressers</a>    
                  </li>   
                  <li><a href="/index.php?files" title="Diamond Files, Diamond Hand Laps">Files, Hand Laps</a>    
                  </li>   
                  <li><a href="/index.php?mandrels" title="Diamond Plated Mandrels">Plated Mandrels</a>    
                  </li>    
                  <li><a href="/index.php?mandrels_lg" title="Diamond Plated Mandrels, lg">Plated Mandrels, Lg.</a>
                  </li>    
                  <li><a href="/index.php?tapered_pins" title="Diamond Plated Tapered Pins">Plated Tapered Pins</a>   
                  </li>    
                  <li><a href="/index.php?turning_tools" title="Diamond Turning Tools">Lathe/Turning Tools</a>    
                  </li>    
                  <li><a href="/index.php?diamond_wheels" title="Dimaond Wheels">Diamond Wheels</a>    
                  </li>
                </ul>    
              </li>
              <li><a href="" title="Diamond Superabrasive">Superabrasive</a>
                <ul>
                  <li><a href="/index.php?commutators" title="Diamond Commutators">Commutators</a>
                  </li>
                  <li><a href="/index.php?countersinks" title="Diamond Countersinks">Countersinks</a>
                  </li>
                  <li><a href="/index.php?drills" title="Diamond Drills">Drills</a>
                  </li>
                  <li><a href="/index.php?endmills" title="Diamond Endmills">Endmills</a>
                  </li>
                  <li><a href="/index.php?files" title="Diamond Files, Hand Laps">Files, Hand Laps</a>
                  </li>
                  <li><a href="/index.php?natural_tools" title="Diamond Natural Tools">Natural Tools</a>
                  </li>
                  <li><a href="/index.php?groovers" title="Diamond Groovers">Groovers</a>
                  </li>
                  <li><a href="/index.php?inserts" title="Diamond Inserts">Inserts</a>
                  </li>
                  <li><a href="/index.php?core_drills" title="Diamond Plated Core Drills">Plated Core Drills</a>
                  </li>
                  <li><a href="/index.php?mandrels" title="Diamond Plated Mandrels">Plated Mandrels</a>
                  </li>
                  <li><a href="/index.php?mandrels_lg" title="Diamond Plated Mandrels, lg">Plated Mandrels, Lg.</a>
                  </li>
                  <li><a href="/index.php?tapered_pins" title="Diamond Plated Tapered Pins">Plated Tapered Pins</a>
                  </li>
                  <li><a href="/index.php?turning_tools" title="Diamond Tools Turning/Lathe">Lathe/Turning Tools</a>
                  </li>
                  <li><a href="/index.php?diamond_wheels" title="Dimaond Wheels">Diamond Wheels</a>
                  </li>
                </ul>
              </li>
              <li><a href="/index.php?carbide_routers" title="Diamond Carbide Routers">Carbide Routers</a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li><a href="/index.php?specials"><h2>Specials</h2></a>
            <ul>    
              <li></li>   
            </ul>
          </li>
        </ul>
        <ul>
          <li><a href="/index.php?contact"><h2>Contact</h2></a>
            <ul>
              <li></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>