    <!-- start menu HTML -->    
    <div class="menu_box">
      <div id="menu">    
        <ul>    
          <li><a href="/"><h2>HOME</h2></a>    
          </li>    
        </ul>    
        <ul>    
          <li><a href="#">    
            <h2>Products</h2></a>   
            <ul>    
              <li><a id="spacer"></a></li>    
              <li><a href="" title="Diamond Cutting Tools for Industry">Heading</a>    
                <ul>    
                  <li><a href="compounds.html" title="Diamond Compounds">Compounds</a>    
                  </li>    
                  <li><a href="natural_tools.html" title="Natural Diamond Tools">Natural Tools</a>   
                  </li>    
                  <li><a href="phonopoints.html" title="Phono points, Single Cone Point Dressers, Chisel Dressers">Phonopoints</a>    
                  </li>    
                  <li><a href="phonopoints.html" title="Phono points, Single Cone Point Dressers, Chisel Dressers">Single Point Dressers</a>    
                  </li>    
                  <li><a href="phonopoints.html" title="Diamond Chisel Dressers">Chisel Dressers</a>    
                  </li>   
                  <li><a href="files.html" title="Diamond Files, Diamond Hand Laps">Files, Hand Laps</a>    
                  </li>   
                  <li><a href="mandrels.html" title="Diamond Plated Mandrels">Plated Mandrels</a>    
                  </li>    
                  <li><a href="mandrels_lg.html" title="Diamond Plated Mandrels, lg">Plated Mandrels, Lg.</a>
                  </li>    
                  <li><a href="tapered_pins.html" title="Diamond Plated Tapered Pins">Plated Tapered Pins</a>   
                  </li>    
                  <li><a href="turning_tools.html" title="Diamond Turning Tools">Lathe/Turning Tools</a>    
                  </li>    
                  <li><a href="diamond_wheels.html" title="Dimaond Wheels">Diamond Wheels</a>    
                  </li>
                </ul>    
              </li>
              <li><a href="superabrasive.html" title="Diamond Superabrasive">Superabrasive</a>
                <ul>
                  <li><a href="commutators.html" title="Diamond Commutators">Commutators</a>
                  </li>
                  <li><a href="countersinks.html" title="Diamond Countersinks">Countersinks</a>
                  </li>
                  <li><a href="drills.html" title="Diamond Drills">Drills</a>
                  </li>
                  <li><a href="endmills.html" title="Diamond Endmills">Endmills</a>
                  </li>
                  <li><a href="files.html" title="Diamond Files, Hand Laps">Files, Hand Laps</a>
                  </li>
                  <li><a href="natural_tools.html" title="Diamond Natural Tools">Natural Tools</a>
                  </li>
                  <li><a href="groovers.html" title="Diamond Groovers">Groovers</a>
                  </li>
                  <li><a href="inserts.html" title="Diamond Inserts">Inserts</a>
                  </li>
                  <li><a href="core_drills.html" title="Diamond Plated Core Drills">Plated Core Drills</a>
                  </li>
                  <li><a href="mandrels.html" title="Diamond Plated Mandrels">Plated Mandrels</a>
                  </li>
                  <li><a href="mandrels_lg.html" title="Diamond Plated Mandrels, lg">Plated Mandrels, Lg.</a>
                  </li>
                  <li><a href="tapered_pins.html" title="Diamond Plated Tapered Pins">Plated Tapered Pins</a>
                  </li>
                  <li><a href="turning_tools.html" title="Diamond Tools Turning/Lathe">Lathe/Turning Tools</a>
                  </li>
                  <li><a href="diamond_wheels.html" title="Dimaond Wheels">Diamond Wheels</a>
                  </li>
                </ul>
              </li>
              <li><a href="carbide_routers.html" title="Diamond Carbide Routers">Carbide Routers</a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li><a href="specials.html"><h2>Specials</h2></a>
            <ul>    
              <li></li>   
            </ul>
          </li>
        </ul>
        <ul>
          <li><a href="contact.html"><h2>Contact</h2></a>
            <ul>
              <li></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>