<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <meta http-equiv="Content-type" content="text/html; charset=utf-8">
            <title>{{  siteName }} - Diamond Tool Manufacturers</title>           
            
             <!-- Bootstrap core CSS -->
            <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
            <!-- Bootstrap theme -->
            <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <link href="../node_modules/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link href="../theme.css" rel="stylesheet">

            <!-- Custom World Diamond and legacy styles -->
            <link href="../styles/menu_h2.css" rel="stylesheet" type="text/css">

        {% endblock %}

    </head>
    <body>
    	<div class="content clearfix">
    	    <div class="center_box clearfix">
 
                {% block marquee %}
        	        {% include '_homeMarquee.html' %}
                {% endblock %} 

                {% block menu %}
        	        {% include '_menu.html' %}
                {% endblock %} 

    		</div>

         {% block body %}   
        	{% if (product == false) %}                
        	   {% include '_home_body.html' %}
            {% elseif product == 'contact' %}
                 {% include '_contact_form.html' %}
            {% elseif product == 'specials_slider' %}
                {% include '_specials_slider.html' %}
            {% else %}            
                {% include product ~ '.html' %}
            {% endif %}  
        {% endblock %}   

        </div>
        {% include '_footer.html' %}
        {% block scripts %}
             <!-- JQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="../node_modules/bootstrap/assets/js/ie-emulation-modes-warning.js"></script>          
        {% endblock %}
    </body>
</html>