<h1>Diamond Commutator Turning Tools</h1> 
<div>
  <img src="images/commutator.jpg" alt="commutator diamond turning tool" width="401" height="312" style="margin-bottom:2em;" />
</div>
<div class="content_box">
  <div class="col-md-8 text-left">
    <p style='padding-top:2em'>
      Diamond cutting tools are used for turning the commutators of
      fractional horsepower electric motors, such as motors used for vacuum
      cleaners, electric power tools, etc.
    </p>              
    <p>
      The diamond commutator tool is traversed at a feed rate of
      .0005 to .0015 per revolution, taking a depth of cut from
      .001 to .005.
    </p>
    <p>
        A controlled finish can be produced.
    </p>
  </div>

  <div class="col-md-4">
    <p class="underline uppercase"><b>Tool type:</b></p>
     <p><b>CT-N-R</b><br />
        Natural diamond with radius
    </p>
    <p><b>CT-S-F</b>
    <br />                  
      Synthetic diamond with flats
    </p>
    <p><b>CT-S-R</b><br />
      Synthetic diamond with radius
    </p>    
  </div>
</div>

<div class="col-md-12">  
  <i style="margin: 2em 0;">We can make diamond commutators <span class="underline">custom</span> to your specifications. <a href="index.php?contact">Request a quote today!</a></i>    
  <p><b>How can we help you buy your next diamond commutator turning tool?</b></p>
</div>

