<h1>Diamond Commutator Turning Tools</h1> 
<div>
  <img src="images/commutator.jpg" alt="commutator diamond turning tool" width="401" height="312" />
</div>
<table style="max-width:650px;margin: 0 auto;text-align:left;">
  <tr>
    <td width="60%" valign="top">Diamond Commutator Turning Tools
      <br />
      <br />
      <h5>
        Diamond cutting tools are used for turning the commutators of<br />
        fractional horsepower electric motors, such as motors used for vacuum
        cleaners, electric power tools, etc.</h5>              
        <h5><br /><br />
        The diamond commutator tool is traversed at a feed rate of
        .0005 to .0015 per revolution, taking a depth of cut from<br /> 
        .001 to .005.
        <br />
        <br />
          A controlled finish can be produced.
        </h5>
      </td>
      <td width="40%" align="top"><p>Tool type:</p>
         <h5>CT-N-R<br />
            Natural diamond with radius
          </h5>
         <h5>CT-S-F<br />                  
          Synthetic diamond with flats</h5>
          <br />
          <h5>CT-S-R<br />
          Synthetic diamond with radius</h5>
          <br />
          <br />
          <i>Custom-made &amp; manufacturer of Diamond Commutator tools to your specifications quoted on request</i>
      </td>
    </tr>
</table>

<div>      
  <p><b>How can we help you buy your next Diamond Commutator Turning Tool?</b></p>
</div>

