  <h1>Diamond Polishing Compounds</h1>
  <p>
    World Diamond Tool offers the highest quality diamond compound available for rapid, accurate lapping,
    polishing and super-finishing.
  
  <p>
    Our diamonds have been tested for purity, quality, shape, and accuracy of sizing. 
    They uniformly dispersed in our oil and water soluble lubricant.
  
  <p>
    Our diamond polishing compounds are color-coded for easy identification. Water may be used
    as an extender or thinner for water soluble compound, and kerosene or a light
    oil for oil soluble compound.
  
  <p>
    Diamond polishing &amp; lapping compounds are available in screw-top jars or<br />
    syringes. The screw-top jar keeps diamond compound pure and permits the addition of<br />
    thinner or lubricant before use if desired. Syringe is a disposable plastic<br />
    dispenser that is convenient, and safe from outside impurities.
  

<div class="content_box compounds">
  <table class="table table-bordered compounds_table" border="0" cellspacing="0" cellpadding="0" width="100%" >
    <tr>
        <td>APPLICATION:</td>
        <td>COLOR</td>
        <td>ORDERS BY THESE NUMBERS</td>
        <td>
            U.S. STANDARD            
            CS261-63
            <br />
            MICRON
            <br />
            SIZE
            
        </td>
        <td>
            CONCENTRATION
        </td>
    </tr>
    <tr>
        <td>FINEST FINISHES</td>
        <td>GREY</td>
        <td>1/4</td>
        <td>0-1/2</td>
        <td>LIGHT <b>MEDIUM</b></td>
    </tr>
    <tr>
        <td>SUPER-FINISHING SPECIMENS</td>
        <td>WHITE</td>
        <td>1/2</td>
        <td>0-1</td>
        <td>LIGHT <b>MEDIUM</b></td>
    </tr>
    <tr>
        <td>METALLOGRAPHIC SPECIMENS, EXTRA-HIGH FINISH
            
        </td>
        <td>IVORY</td>
        <td>1</td>
        <td>0-2</td>
        <td>LIGHT <b>MEDIUM HEAVY</b>            
        </td>
    </tr>
    <tr>    
        <td rowspan="3">
            FINAL <br />
                FINISHING FOR MOST LAPPING APPLICATIONS
            
        </td>
        <td>YELLOW</td>
        <td>3</td>
        <td>2-4</td>
        <td>LIGHT <br />
                <b>MEDIUM</b> <br />
                HEAVY
            
        </td>
    </tr>
    <tr>
        <td>ORANGE</td>
        <td>6</td>
        <td>4-8</td>
        <td>LIGHT <b>MEDIUM</b> HEAVY
            
        </td>
    </tr>
    <tr>
        <td>GREEN</td>
        <td>9</td>
        <td>8-12</td>
        <td>LIGHT MEDIUM <b>HEAVY</b>
            
        </td>
    </tr>
    <tr>
        <td>FINISHING</td>
        <td>BLUE</td>
        <td>15</td>
        <td>12-22</td>
        <td>LIGHT MEDIUM <b>HEAVY</b></td>
    </tr>
    <tr>
        <td>
        LIGHT <br />
            STOCK <br />
            REMOVAL</td>
        <td>RED</td>
        <td>30</td>
        <td>22-36</td>
        <td>LIGHT <br />
            MEDIUM <br />
            <b>HEAVY</b>
        
        </td>
    </tr>
    <tr>
        <td>
            MEDIUM <br />
                STOCK <br />
                REMOVAL
            
        </td>
            <td>BROWN</td>
            <td>45</td>
            <td>36-54</td>
            <td>LIGHT <br />
        MEDIUM <br />
        <b>HEAVY</b>
        
        </td>
    </tr>
    <tr>
        <td>STOCK <br />
            REMOVAL</td>
        <td>PURPLE</td>
        <td>60</td>
        <td>54-80</td>
        <td>LIGHT <br />
                MEDIUM <br />
                <b>HEAVY</b>
            
        </td>
    </tr>
    <tr>
        <td>
            FAST <br />
                STOCK <br />
                REMOVAL
            
        </td>
        <td>PURPLE</td>
        <td>230-325</td>
        <td>MESH.</td>
        <td><b>HEAVY</b></td>
    </tr>
    <tr>
        <td>FAST <br />
                STOCK <br />
                REMOVAL
            
        </td>
        <td>BLACK</td>
        <td>170</td>
        <td>MESH.</td>
        <td><b>HEAVY</b></td>
    </tr>
  </table>
</div>

<div class="content_box_lg"  style="width:800px;margin: 2em auto 3em auto;">
    <ul>
        <li><b>JARS: </b> Screw top, keeps diamond compound&nbsp;pure. Permits addition of thinner or&nbsp;lubricant before use if desirable. </li>
        <li><b>SYRINGE: </b> Disposable plastic dispenser,&nbsp;convenient and safe from outside impurities. </li>
        <li><b>ROCKWOOD STICKS: </b> Can be machined into forms and are knurled fromfactory to help hold compound.</li>
    </ul>
</div>

<h3>TO ORDER Diamond Compounds, please SPECIFY:</h3>
<br />

<div class="content_box_lg clearfix">
    <div class="compounds-order one-third">
      <p><b>NUMBER AND COLOR:</b></p>
      <p><b>CONCENTRATION:</b></p>
      <p><b>QUANTITY:</b></p>
      <p><b>PACKAGING:</b></p><br/>
      <p><b>VEHICLE:</b></p>
    </div>
    <div class="compounds-order two-thirds">
        <p>For example: "No. 1 Ivory", "No. 3 Yellow", "No. 30 Red", "230/325 mesh. Purple", etc.</p>
        <p>Light, Medium, or Heavy</p>
        <p>Five 5 gram Jars or 20 gram Syringes.</p>
        <p>Jars or Syringes (disposable plastic dispensers). If you prefer 5 gram containers (either Jars or Syringes)&nbsp; you may take
            advantage of the 60 gram price by ordering 12 of the same specifications.</p>
        <p>Water soluble, oil soluble, or universal (soluble in oil (or water).</p>
    </div>
</div>

<div style="clear:both;">
    <p>
       Let us help you with your next Diamond Polishing Compound!  (<a href="/index.php?contact">Click here to contact us!</a>)
                      
</div>