  <h1>Diamond Polishing Compounds</h1>
  <p>
    The highest quality diamond compound available for rapid, accurate lapping,
    polishing and super-finishing.
  </p>
  <p>
    The diamonds have been tested for purity, quality, shape
    and accuracy of sizing. They uniformly dispersed in our oil and water soluble
    lubricant.
  </p>
  <p>
    Color coding is for easy identification. Water may be used<br />
    as an extender or thinner for water soluble compound, and kerosene or a light<br />
    oil for oil soluble compound.
  </p>
  <p>
    Diamond polishing &amp; lapping compounds are available in screw top jars or<br />
    syringe. The screw top jar keeps diamond compound pure and permits the addition of<br />
    thinner or lubricant before use if desired. Syringe is a disposable plastic<br />
    dispenser that is convenient and safe from outside impurities.
  </p>

<div class="content_box compounds">
  <table border="0" cellspacing="0" cellpadding="0" width="100%" >
    <tr>
        <td><p align="center">DIAMOND COMPOUNDS USED FOR</p></td>
        <td><p align="center">COLOR</p></td>
        <td><p align="center">ORDERS BY <br />
                THESE <br />
                NUMBERS
            </p>
        </td>
        <td>
            <p align="center">U.S. STANDARD
            <br />
            CS261-63
            <br />
            MICRON
            <br />
            SIZE
            </p>
        </td>
        <td>
            <p align="center">CONCEN-<br />
                TRATION</p>
        </td>
    </tr>
    <tr>
        <td><p align="center">FINEST <br />
            FINISHES</p></td>
        <td><p align="center">GREY</p></td>
        <td><p align="center">1/4</p></td>
        <td><p align="center">0-1/2</p></td>
        <td><p align="center">LIGHT <br />
                <b>MEDIUM</b>
                </p>
            </td>
    </tr>
    <tr>
        <td><p align="center">SUPER-FINISHING <br />
            METALLOGRAPHIC <br />
            SPECIMENS</p></td>
        <td><p align="center">WHITE</p></td>
        <td><p align="center">1/2</p></td>
        <td><p align="center">0-1</p></td>
        <td><p align="center">LIGHT <br />
                <b>MEDIUM</b>
                </p>
            </td>
    </tr>
    <tr>
        <td><p align="center">METALLOGRAPHIC <br />
            SPECIMENS, <br />
            EXTRA-HIGH <br />
            FINISH
            </p>
        </td>
        <td><p align="center">IVORY</p></td>
        <td><p align="center">1</p></td>
        <td><p align="center">0-2</p></td>
        <td><p align="center">LIGHT <br />
                <b>MEDIUM</b> <br />
            HEAVY
            </p>
        </td>
    </tr>
    <tr>    
        <td rowspan="3">
            <p align="center">FINAL <br />
                FINISHING <br />
                FOR MOST <br />
                LAPPING <br />
                APPLICATIONS
            </p>
        </td>
        <td><p align="center">YELLOW</p></td>
        <td><p align="center">3</p></td>
        <td><p align="center">2-4</p></td>
        <td><p align="center">LIGHT <br />
                <b>MEDIUM</b> <br />
                HEAVY
            </p>
        </td>
    </tr>
    <tr>
        <td><p align="center">ORANGE</p></td>
        <td><p align="center">6</p></td>
        <td><p align="center">4-8</p></td>
        <td><p align="center">LIGHT <br />
                <b>MEDIUM</b> <br />
                HEAVY
            </p>
        </td>
    </tr>
    <tr>
        <td><p align="center">GREEN</p></td>
        <td><p align="center">9</p></td>
        <td><p align="center">8-12</p></td>
        <td><p align="center">LIGHT <br />
                MEDIUM <br />
                <b>HEAVY</b>
            </p>
        </td>
    </tr>
    <tr>
        <td><p align="center">FINISHING</p></td>
        <td><p align="center">BLUE</p></td>
        <td><p align="center">15</p></td>
        <td><p align="center">12-22</p></td>
        <td><p align="center">LIGHT <br />
                MEDIUM <br />
                <b>HEAVY</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
        <p align="center">LIGHT <br />
            STOCK <br />
            REMOVAL</p></td>
        <td><p align="center">RED</p></td>
        <td><p align="center">30</p></td>
        <td><p align="center">22-36</p></td>
        <td><p align="center">LIGHT <br />
            MEDIUM <br />
            <b>HEAVY</b>
        </p>
        </td>
    </tr>
    <tr>
        <td>
            <p align="center">MEDIUM <br />
                STOCK <br />
                REMOVAL
            </p>
        </td>
            <td><p align="center">BROWN</p></td>
            <td><p align="center">45</p></td>
            <td><p align="center">36-54</p></td>
            <td><p align="center">LIGHT <br />
        MEDIUM <br />
        <b>HEAVY</b>
        </p>
        </td>
    </tr>
    <tr>
        <td><p align="center">STOCK <br />
            REMOVAL</p></td>
        <td><p align="center">PURPLE</p></td>
        <td><p align="center">60</p></td>
        <td><p align="center">54-80</p></td>
        <td><p align="center">LIGHT <br />
                MEDIUM <br />
                <b>HEAVY</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p align="center">FAST <br />
                STOCK <br />
                REMOVAL
            </p>
        </td>
        <td><p align="center">PURPLE</p></td>
        <td><p align="center">230-325</p></td>
        <td><p align="center">MESH.</p></td>
        <td><p align="center"><b>HEAVY</b></p></td>
    </tr>
    <tr>
        <td><p align="center">FAST <br />
                STOCK <br />
                REMOVAL
            </p>
        </td>
        <td><p align="center">BLACK</p></td>
        <td><p align="center">170</p></td>
        <td><p align="center">MESH.</p></td>
        <td><p align="center"><b>HEAVY</b></p></td>
    </tr>
  </table>
</div>

<p>
  <b>JARS:</b> Screw top, keeps diamond compound&nbsp;pure. Permits addition of thinner or&nbsp;lubricant before use if desirable. <br />
  <b>SYRINGE:</b> Disposable plastic dispenser,&nbsp;convenient and safe from outside impurities. <br />
  <b>ROCKWOOD STICKS:</b> Can be machined into forms and are knurled fromfactory to help hold compound.
</p>
<h3>TO ORDER Diamond Compounds, SPECIFY:</h3>
<br />


<div class="content_box clearfix">
    <div class="compounds-order one-third">
      <p><b>NUMBER AND COLOR:</b></p>
      <p><b>CONCENTRATION:</b></p>
      <p><b>QUANTITY:</b></p>
      <p><b>PACKAGING:</b></p>
      <p><b>VEHICLE:</b></p>
    </div>
    <div class="compounds-order two-thirds">
        <p>For example: "No. 1 Ivory", "No. 3 Yellow", "No. 30 Red", "230/325 mesh. Purple", Etc.</p>
        <p>Light, Medium, or Heavy</p>
        <p>Five 5 gram Jars or 20 gram Syringes.</p>
        <p>Jars or Syringes (disposable plastic dispensers). If you
            prefer 5 gram containers (either Jars or Syringes)&nbsp; you may take
            advantage of the 60 gram price by ordering 12 of the same specifications.</p>
        <p>Water soluble, oil soluble, or universal (soluble in oil (or water).</p>
    </div>
</div>

<div style="clear:both;">
    <p>
       How can we help with your next Diamond Polishing Compound?  (<a href="/index.php?contact.php">Click here to contact us!</a>)
    </p>                  
</div>