<h1>Diamond Core Drills-Plated &amp; Metal Bonded</h1>   
<table width="100%"  border="0" cellspacing="00" cellpadding="00" style="margin: 0 auto; max-width: 650px;">
  <tr>
    <td width="51%">
      <div align="center">
        <img src="images/core_drills.jpg" alt="variety of diamond drills core" width="250" height="198" />
      </div>
    </td>
    <td width="49%"><div align="center"><img src="images/core_drill1.jpg" alt="diamond core drills" width="250" height="201" /></div></td>
  </tr>
  <tr>
    <td>
    <div align="center">
      <img src="images/core_drill2.jpg" width="225" height="298" />
    </div>
    </td>
    <td>
    <div align="center">
      <img src="images/core_drill3.jpg" width="225" height="311" />
    </div>
    </td>
  </tr>
</table>
<table width="100%"  border="0" cellspacing="00" cellpadding="8">
  <tr>
    <td>
      <p><strong><strong>60 grit is stock. </strong> <strong>Threaded shank available as well. Custom and Standard Diamond Drills </strong></strong></p>
      <p><strong>Don't see the diamond drill size or the grit you are looking for? Here is a diagram to guide you. We need to know your diamond drill dimensions, and the desired grit.</strong></p>
      <p><strong>Please specify what material you are cutting &amp; if your are cutting wet or dry with the diamond core drill. </strong>
      </p>
    </td>
  </tr>
</table>
        <p><b>We will help with your next purchase of Diamond Drills, Core, Plated or Metal Bonded?</b></p>