
<h1>PCD and Plated Countersinks</h1>       

<div class="countersink_box">
	<img src="images/countersink_2_views.jpg" alt="high quality diamond Countersink, 2 views"  />
	<img src="images/countersink_3d_drawing" />
</div>

<p>
	Don't see the angles that you are looking for?<br/>
	See the diagram below.<br/>
	If you need a plated countersink, we need to know the grit needed (60 is the stock grit).<br/>
	PCD are 1, 2, and 3 flutes.
</p>

<div>
	<image src="images/countersink_table.jpg" />
</div>   

<p>Let us know how we can help you purchase Plated or PCD Countersinks</p>