<h1>Diamond Wheels Grinding Industrial</h1>   
        <table width="100%"  border="0" cellspacing="00" cellpadding="00">
          <tr>
            <td><div><img src="images/diamond_wheels1.jpg" alt="copper bonded & resin diamond grinding wheels" width="330" height="104" /></div></td>
            <td><div><img src="images/diamond_wheels2.jpg" alt="copper & resin bonded diamond grinding wheels" width="330" height="97" /></div></td>
          </tr>
          <tr>
            <td colspan="2"><div align="center">
              <table width="47%" cellpadding="8">
                <tr>
                  <td width="30%"><p align="center">Westec<br /> 
                  part # </p></td>
                  <td width="26%"><p align="center">TYPE </p></td>
                  <td width="44%"><p align="center">CROSS - SECTION </p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-01 </p></td>
                  <td width="26%"><p align="center">1A1</p></td>
                  <td width="44%"><p align="center"><img width="111" height="28" src="diamond_wheels_files/clip_image001.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center">WDW-02 </p></td>
                  <td width="26%"><p align="center"> 1A8</p></td>
                  <td width="44%"><p align="center"><img width="64" height="30" src="diamond_wheels_files/clip_image002.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-03 </p></td>
                  <td width="26%"><p align="center">14A1</p></td>
                  <td width="44%"><p align="center"><img width="112" height="31" src="diamond_wheels_files/clip_image003.gif" /><a href="http://www.sunva.com/DiamondGrindingWheels.htm/14F1.htm"></a></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-04 </p></td>
                  <td width="26%"><p align="center">4B1</p></td>
                  <td width="44%"><p align="center"><img width="81" height="32" src="diamond_wheels_files/clip_image004.jpg" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-05 </p></td>
                  <td width="26%"><p align="center">6A2</p></td>
                  <td width="44%"><p align="center"><img width="122" height="38" src="diamond_wheels_files/clip_image005.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-06 </p></td>
                  <td width="26%"><p align="center">12A2-20</p></td>
                  <td width="44%"><p align="center"><img width="121" height="35" src="diamond_wheels_files/clip_image006.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-07 </p></td>
                  <td width="26%"><p align="center">12D1</p></td>
                  <td width="44%"><p align="center"><img width="118" height="29" src="diamond_wheels_files/clip_image007.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-08 </p></td>
                  <td width="26%"><p align="center">9A3</p></td>
                  <td width="44%"><p align="center"><img width="121" height="34" src="diamond_wheels_files/clip_image008.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center">WDW-09 </p></td>
                  <td width="26%"><p align="center">11A2</p></td>
                  <td width="44%"><p align="center"><a href="mailto:westecdiamond@earthlink.net"><img src="diamond_wheels_files/clip_image009.gif" width="124" height="40" border="0" /></a></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-10 </p></td>
                  <td width="26%"><p align="center">12V2</p></td>
                  <td width="44%"><p align="center"><img width="126" height="36" src="diamond_wheels_files/clip_image010.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-11 </p></td>
                  <td width="26%"><p align="center"> 12A2-45</p></td>
                  <td width="44%"><p align="center"> <img width="118" height="39" src="diamond_wheels_files/clip_image011.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-12 </p></td>
                  <td width="26%"><p align="center"> 12V4</p></td>
                  <td width="44%"><p align="center"> <img width="124" height="38" src="diamond_wheels_files/clip_image012.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-13 </p></td>
                  <td width="26%"><p align="center">  12V5</p></td>
                  <td width="44%"><p align="center">  <img width="118" height="35" src="diamond_wheels_files/clip_image013.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-14 </p></td>
                  <td width="26%"><p align="center">  6A9</p></td>
                  <td width="44%"><p align="center"> <img width="121" height="38" src="diamond_wheels_files/clip_image014.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center">WD W-15 </p></td>
                  <td width="26%"><p align="center">  11V9</p></td>
                  <td width="44%"><p align="center"> <a href="mailto:westecdiamond@earthlink.net"><img src="diamond_wheels_files/clip_image015.gif" width="117" height="40" border="0" /></a></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-16 </p></td>
                  <td width="26%"><p align="center">12V9</p></td>
                  <td width="44%"><p align="center"> <img width="116" height="37" src="diamond_wheels_files/clip_image016.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-17 </p></td>
                  <td width="26%"><p align="center"> 1EE1</p></td>
                  <td width="44%"><p align="center"> <img width="112" height="31" src="diamond_wheels_files/clip_image017.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-18 </p></td>
                  <td width="26%"><p align="center">  1A1W</p></td>
                  <td width="44%"><p align="center">; <img width="107" height="34" src="diamond_wheels_files/clip_image018.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-19 </p></td>
                  <td width="26%"><p align="center"> 14A2</p></td>
                  <td width="44%"><p align="center"> <img width="110" height="29" src="diamond_wheels_files/clip_image019.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-20 </p></td>
                  <td width="26%"><p align="center">  1V1</p></td>
                  <td width="44%"><p align="center">  <img width="108" height="36" src="diamond_wheels_files/clip_image020.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-21 </p></td>
                  <td width="26%"><p align="center">  14F1</p></td>
                  <td width="44%"><p align="center"> <img width="87" height="33" src="diamond_wheels_files/clip_image021.jpg" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-22 </p></td>
                  <td width="26%"><p align="center">1F1W</p></td>
                  <td width="44%"><p align="center"><img width="55" height="31" src="diamond_wheels_files/clip_image022.jpg" /></p></td>
                </tr>
              </table>
  <div>              
    <img src="images/diamond_wheels3.jpg" alt="Variety of Diamond Grinding Wheels" width="330" height="250" />
  </div>
  <div>
    <img src="images/diamond_wheels4.jpg" alt="wet & dry grinding diamond wheels" width="330" height="250" />
  </div>
  <div>
    <img src="images/diamond_wheels5.jpg" alt="wet & dry diamond grinding wheels" width="330" height="248" />
  </div>
  <p>
    <span class="h1_bold_red">
    When ordering or requesting a quote for any type of grinding diamond wheels.
    Please state Material being cut and if the diamond grinding wheel is  a wet or dry cut.</span><br /> 
    What else we need to know: O.D., Concentration, Grit, Bond depth &amp; width.
    Bond type and arbor size.
  </p>
 <p class="h1_bold">How can we help you with your purchase of Diamond Grinding Wheels?</p>
    