<h1>Diamond Wheels Grinding Industrial</h1> 
<div class="content_box"> 
        <table width="100%"  border="0" cellspacing="00" cellpadding="00">
          <tr>
            <td><div><img src="images/diamond_wheels1.jpg" alt="copper bonded & resin diamond grinding wheels" width="330" height="104" /></div></td>
            <td><div><img src="images/diamond_wheels2.jpg" alt="copper & resin bonded diamond grinding wheels" width="330" height="97" /></div></td>
          </tr>
          <tr>
            <td colspan="2">
            <div align="center">
              <table width="47%" cellpadding="8">
                <tr>
                  <td width="30%"><p align="center">Westec<br /> 
                  part # </p></td>
                  <td width="26%"><p align="center">TYPE </p></td>
                  <td width="44%"><p align="center">CROSS - SECTION </p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-01 </p></td>
                  <td width="26%"><p align="center">1A1</p></td>
                  <td width="44%"><p align="center"><img width="111" height="28" src="images/wdw-001.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center">WDW-02 </p></td>
                  <td width="26%"><p align="center"> 1A8</p></td>
                  <td width="44%"><p align="center"><img width="64" height="30" src="images/wdw-002.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-03 </p></td>
                  <td width="26%"><p align="center">14A1</p></td>
                  <td width="44%"><p align="center"><img width="112" height="31" src="images/wdw-003.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-04 </p></td>
                  <td width="26%"><p align="center">4B1</p></td>
                  <td width="44%"><p align="center"><img width="81" height="32" src="images/wdw-004.jpg" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-05 </p></td>
                  <td width="26%"><p align="center">6A2</p></td>
                  <td width="44%"><p align="center"><img width="122" height="38" src="images/wdw-005.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-06 </p></td>
                  <td width="26%"><p align="center">12A2-20</p></td>
                  <td width="44%"><p align="center"><img width="121" height="35" src="images/wdw-006.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-07 </p></td>
                  <td width="26%"><p align="center">12D1</p></td>
                  <td width="44%"><p align="center"><img width="118" height="29" src="images/wdw-007.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-08 </p></td>
                  <td width="26%"><p align="center">9A3</p></td>
                  <td width="44%"><p align="center"><img width="121" height="34" src="images/wdw-008.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center">WDW-09 </p></td>
                  <td width="26%"><p align="center">11A2</p></td>
                  <td width="44%"><p align="center"><img src="images/wdw-009.gif" width="124" height="40" border="0" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-10 </p></td>
                  <td width="26%"><p align="center">12V2</p></td>
                  <td width="44%"><p align="center"><img width="126" height="36" src="images/wdw-010.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-11 </p></td>
                  <td width="26%"><p align="center"> 12A2-45</p></td>
                  <td width="44%"><p align="center"> <img width="118" height="39" src="images/wdw-011.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-12 </p></td>
                  <td width="26%"><p align="center"> 12V4</p></td>
                  <td width="44%"><p align="center"> <img width="124" height="38" src="images/wdw-012.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-13 </p></td>
                  <td width="26%"><p align="center">  12V5</p></td>
                  <td width="44%"><p align="center"> <img width="118" height="35" src="images/wdw-013.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-14 </p></td>
                  <td width="26%"><p align="center">  6A9</p></td>
                  <td width="44%"><p align="center"><img width="121" height="38" src="images/wdw-014.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center">WD W-15 </p></td>
                  <td width="26%"><p align="center">  11V9</p></td>
                  <td width="44%"><p align="center"><img src="images/wdw-015.gif" width="117" height="40" border="0" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-16 </p></td>
                  <td width="26%"><p align="center">12V9</p></td>
                  <td width="44%"><p align="center"> <img width="116" height="37" src="images/wdw-016.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-17 </p></td>
                  <td width="26%"><p align="center"> 1EE1</p></td>
                  <td width="44%"><p align="center"> <img width="112" height="31" src="images/wdw-017.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-18 </p></td>
                  <td width="26%"><p align="center">  1A1W</p></td>
                  <td width="44%"><p align="center">; <img width="107" height="34" src="images/wdw-018.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-19 </p></td>
                  <td width="26%"><p align="center"> 14A2</p></td>
                  <td width="44%"><p align="center"> <img width="110" height="29" src="images/wdw-019.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-20 </p></td>
                  <td width="26%"><p align="center">  1V1</p></td>
                  <td width="44%"><p align="center">  <img width="108" height="36" src="images/wdw-020.gif" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-21 </p></td>
                  <td width="26%"><p align="center">  14F1</p></td>
                  <td width="44%"><p align="center"> <img width="87" height="33" src="images/wdw-021.jpg" /></p></td>
                </tr>
                <tr>
                  <td width="30%"><p align="center"> WDW-22 </p></td>
                  <td width="26%"><p align="center">1F1W</p></td>
                  <td width="44%"><p align="center"><img width="55" height="31" src="images/wdw-022.jpg" /></p></td>
                </tr>
              </table>
            </div>
            </td></tr></table></div>
  <div>              
    <img src="images/diamond_wheels3.jpg" alt="Variety of Diamond Grinding Wheels" width="330" height="250" />
  </div>
  <div>
    <img src="images/diamond_wheels4.jpg" alt="wet & dry grinding diamond wheels" width="330" height="250" />
  </div>
  <div>
    <img src="images/diamond_wheels5.jpg" alt="wet & dry diamond grinding wheels" width="330" height="248" />
  </div>
  <p>
    <span>
    When ordering or requesting a quote for any type of grinding diamond wheels.
    Please state Material being cut and if the diamond grinding wheel is  a wet or dry cut.</span><br /> 
    What else we need to know: O.D., Concentration, Grit, Bond depth &amp; width.
    Bond type and arbor size.
  </p>
 <p>How can we help you with your purchase of Diamond Grinding Wheels?</p>
    