<h2 align="center">PCD Drills &amp; Panel Drills</h2> 
    <div align="center"><img
src="drills_files/image002.jpg" alt="PCD Drills by Discount Industrial Diamond Tools" width="284" height="259" border="0" /><img border="0" width="303" height="319"
src="drills_files/image004.jpg" /></div>
          <p><span class="style1">PCD Drills </span>excel in non-ferrous materials as well composite materials. All sizes available
on solid carbide shanks or M-42 cobalt shanks. Please specify your PCD drill: Machine (stubby)
or Jobber length.</p>
              <div align="center">
                <img src="drills_files/image006.jpg" alt="Panel drill diamond coated" width="497" height="283" border="0" />
              </div>
         <p><span class="style1">Panel Drills</span> can have a replaceable center cutting pilot. These can be a PCD Drill or coated diamond ball mill as shown. This type of drill makes perfect burr free holes in composite panels as well as out lasting carbide by three to one. Panel drills can also be made for flat bottom counter bores. The PCD tips are ground to a brad point.</p>
            
        <p class="h1_bold">How can Discount Industrial Diamond Tools help buy PCD Drills and Panel Drills? Call <b>714-993-2510</b><b> </b> <strong> </strong> </p>
        </div>
   