<h1>PCD Drills &amp; Panel Drills</h1> 

<div>
    <img src="images/drills2.jpg" alt="PCD Drills by World Diamond Tool" width="284" height="259" border="0" />
    <img border="0" width="303" height="319" src="images/drills3.jpg" alt="pcd panel drills" />
</div>

<p>
	<span class="red">PCD Drills</span> excel in non-ferrous materials as well composite materials. All sizes available
	on solid carbide shanks or M-42 cobalt shanks. Please specify your PCD drill: Machine (stubby)
	or Jobber length.
</p>

<div>
	<img src="images/drills4.png" alt="diamond coated panel drill " width="497" height="283" border="0" />
</div>

<p>
	<span class="red">Panel Drills</span> can have a replaceable center cutting pilot. These can be a PCD Drill or coated diamond ball mill as shown. This type of drill makes perfect burr free holes in composite panels as well as out lasting carbide by three to one. Panel drills can also be made for flat bottom counter bores. The PCD tips are ground to a brad point.
</p>
            
<p>How can Discount Industrial Diamond Tools help buy PCD Drills and Panel Drills?</b></p>

   