<h1>DIAMOND FILES - Plated &amp; Plain</h1>
     <div align="center" id ="header2"><strong>Diamond Needle Files</strong>
                        <table width="582" height="341" border="0" cellpadding="00" cellspacing="00" bgcolor="#FFFFFF">
                          <tr>
                            <td width="255"><img src="images/needle_files_1.jpg" width="242" height="284" /></td>
                            <td width="199"><img src="images/needle_files_2.jpg" alt="needle file diamond" width="199" height="227" /></td>
                            <td width="128"><table width="130" height="77" border="1" align="center" cellpadding="5" cellspacing="0" bordercolor="#FF0000" bgcolor="#FFFFFF">
                                <tr>
                                  <td width="114"><div align="center" class="price_box">Needle Diamond Files <b>$11.00 Each</b><br />
                            List Price<br />
                            Call for quantity price breaks.</div></td>
                                </tr>
                            </table>
                          </tr>
                          <tr>
                            <td colspan="3">&nbsp;&nbsp;&nbsp;120 grit =coarse 200 grit =medium 260 grit =fine 320 grit = extra fine</td>
                          </tr>
                        </table>
                </div></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><div align="center" id ="header2"><strong>Diamond Riffler Files</strong>
                  <table width="582" height="341" border="0" align="center" cellpadding="00" cellspacing="00" bgcolor="#FFFFFF">
                    <tr>
                      <td><div align="center"><img src="images/rilfer_files_1.jpg" width="341" height="212" /></div></td>
                      <td width="128"><table width="130" height="77" border="1" align="center" cellpadding="5" cellspacing="0" bordercolor="#FF0000" bgcolor="#FFFFFF">
                          <tr>
                            <td width="114"><div align="center" class="price_box">Diamond Riffler Files<br/>
                                    <b>$16.50 Each</b><br />
                      List Price<br/>
                      Call for quantity price breaks.</div></td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td colspan="2"><strong> &nbsp;&nbsp;All rifflers 320 grit.</strong> </td>
                    </tr>
              </table>
          </div></td>
        </tr>
        <tr>
          <td><div align="center" id="header2">
              <br/>
              Diamond Hand Laps
              <table width="246" height="180" border="0" align="center" cellpadding="00" cellspacing="00">
                <tr>
                  <br />
				  <td><img src="images/hand_laps_1.jpg" width="194" height="81" /></td>
                  <td><img src="images/hand_laps_2.jpg" alt="hand lap diamond" width="327" height="65" /></td>
                </tr>
                <tr>
                  <td colspan="2">Industrial Diamond Files, Diamond Hand Laps &amp; Riffler Files-Available in all Grits and  Resin Bond, Metal Bond and Nickel Plated Double and Single end files. Call for best pricing.</td>
                </tr>
              </table>
          </div></td>
        </tr>
      </table>      
        <div align="center"></div>
        <div align="center"></div>
    </tr>
    <tr>
      <td height="12" colspan="3">    <div align="center"></div>
    </tr>
    <tr>
      <td height="6" colspan="3"><div align="center">
      
        <p class="h1_bold">How can we help with your next industrial diamond file, riffler file &amp; diamond hand lap?</p>
        
      </div></td>
    </tr>
    <tr>
      <td height="7" colspan="3"><div align="center"><span class="h1_bold"></span></div></td>
    </tr>
    <tr>
      
</table>