<h1>PCD or CBN Grooving Tools </h1> 
<div class="center_box">
<table border=1 cellspacing=0 cellpadding=16 width="100%">
 <tr>
  <td width="44%">
    <p>
      <b><span >VDB - A &amp; B</span></b>
    </p>
    <p>
      <img src="images/groover1.gif" alt="ri" width=249 height=140 border=0 v:shapes="_x0000_i1027">
    </p>
  </td>
  <td width="56%">
  <table border=1 cellspacing=0 cellpadding=0 width="100%">
   <tr>
    <td>
    <p>Insert Number</p>
    </td>
    <td>
    <p>W</p>
    </td>
    <td width="19%">
    <p>T</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-125-A-015</p>
    </td>
    <td>
    <p>.125</p>
    </td>
    <td width="19%">
    <p>.250</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-156-A-015</p>
    </td>
    <td>
    <p>.156</p>
    </td>
    <td width="19%">
    <p>.250</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-188-A-015</p>
    </td>
    <td>
    <p>.188</p>
    </td>
    <td width="19%">
    <p>.250</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-250-A-015</p>
    </td>
    <td>
    <p>.250</p>
    </td>
    <td width="19%">
    <p>.250</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-250-B-015</p>
    </td>
    <td>
    <p>.250</p>
    </td>
    <td width="19%">
    <p>.337</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-312-B-015</p>
    </td>
    <td>
    <p>.312</p>
    </td>
    <td width="19%">
    <p>.337</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-375-B-015</p>
    </td>
    <td>
    <p>.375</p>
    </td>
    <td width="19%">
    <p>.337</p>
    </td>
  </tr>
</table>

  <p>Other sizes of grooving tools are available</p>
  </td>
 </tr>
 <tr>
  <td height="416">
  <p><b><span >VDB - RA &amp; RB</span></b>
  </p>
  <p><img src="images/groover2.gif" /></p>
  </td>
  <td>

  <table border=1 cellspacing=0 cellpadding=0 width="100%">
   <tr>
    <td>
    <p>Insert Number</p>
    </td>
    <td>
    <p>W</p>
    </td>
    <td>
    <p>T</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-125-RA</p>
    </td>
    <td>
    <p>.125</p>
    </td>
    <td>
    <p>.250</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-156-RA</p>
    </td>
    <td>
    <p>.156</p>
    </td>
    <td>
    <p>.250</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-188-RA</p>
    </td>
    <td>
    <p>.188</p>
    </td>
    <td>
    <p>.250</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-218-RA</p>
    </td>
    <td>
    <p>.218</p>
    </td>
    <td>
    <p>.250</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-250-RA</p>
    </td>
    <td>
    <p>.250</p>
    </td>
    <td>
    <p>.250</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-250-RB</p>
    </td>
    <td>
    <p>.250</p>
    </td>
    <td>
    <p>.337</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-281-RB</p>
    </td>
    <td>
    <p>.281</p>
    </td>
    <td>
    <p>.337</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-312-RB</p>
    </td>
    <td>
    <p>.312</p>
    </td>
    <td>
    <p>.337</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-344-RB</p>
    </td>
    <td>
    <p>.344</p>
    </td>
    <td>
    <p>.337</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>VDB-375-RB</p>
    </td>
    <td>
    <p>.375</p>
    </td>
    <td>
    <p>.337</p>
    </td>
   </tr>
  </table>

  <p>Grooving tools diamond PCD &amp; CBN are available in other sizes.</p>
  </td>
 </tr>
</table>

</div>

<div class="center_box">

<table border=1 cellspacing=0 cellpadding=16>
 <tr>
  <td>
  <p><b><span >NG </span></b>(Right and Left)</p>
  <p>
    <img border=0 width=261 height=191 src="imAges/groover3.gif" />
  </p>
  <p>Right Hand Shown.<br>
  Left Hand Opposite</p>
  </td>
  <td>
  <table border=1 cellspacing=0 cellpadding=0 width="100%">
   <tr>
    <td>
    <p>Insert Number</p>
    </td>
    <td>
    <p>W</p>
    </td>
    <td>
    <p>T</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-2031-R&amp;L</p>
    </td>
    <td>
    <p>.031</p>
    </td>
    <td>
    <p>.219</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-2047-R&amp;L</p>
    </td>
    <td>
    <p>.047</p>
    </td>
    <td>
    <p>.219</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-2062-R&amp;L</p>
    </td>
    <td>
    <p>.062</p>
    </td>
    <td>
    <p>.219</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-2094-R&amp;L</p>
    </td>
    <td>
    <p>.094</p>
    </td>
    <td>
    <p>.219</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-2125-R&amp;L</p>
    </td>
    <td>
    <p>.125</p>
    </td>
    <td>
    <p>.219</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-3047-R&amp;L</p>
    </td>
    <td>
    <p>.047</p>
    </td>
    <td>
    <p>.344</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-3062-R&amp;L</p>
    </td>
    <td>
    <p>.062</p>
    </td>
    <td>
    <p>.344</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-3094-R&amp;L</p>
    </td>
    <td>
    <p>.094</p>
    </td>
    <td>
    <p>.344</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-3125-R&amp;L</p>
    </td>
    <td>
    <p>.125</p>
    </td>
    <td>
    <p>.344</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-3189-R&amp;L</p>
    </td>
    <td>
    <p>.189</p>
    </td>
    <td>
    <p>.344</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-4125-R&amp;L</p>
    </td>
    <td>
    <p>.125</p>
    </td>
    <td>
    <p>.375</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-4189-R&amp;L</p>
    </td>
    <td>
    <p>.189</p>
    </td>
    <td>
    <p>.375</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NG-4250-R&amp;L</p>
    </td>
    <td>
    <p>.250</p>
    </td>
    <td>
    <p>.375</p>
    </td>
   </tr>
  </table>
  <p>Other sizes of grooving tools are available</p>
  </td>
 </tr>
 <tr>
  <td>
  <p><b><span >NR</span></b> (Right and Left )</p>
  <p>
    <img border=0 width=238 height=164 src="images/groover4.gif" />
  </p>
  <p>Right Hand Shown.<br>
  Left Hand Opposite.</p>
  </td>
  <td>
  <table border=1 cellspacing=0 cellpadding=0 width="100%">
   <tr>
    <td>
    <p>Insert Number</p>
    </td>
    <td>
    <p>R</p>
    </td>
    <td>
    <p>T</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NR-3031-R&amp;L</p>
    </td>
    <td>
    <p>.031</p>
    </td>
    <td>
    <p>.344</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NR-3047-R&amp;L</p>
    </td>
    <td>
    <p>.047</p>
    </td>
    <td>
    <p>.344</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NR-3062-R&amp;L</p>
    </td>
    <td>
    <p>.062</p>
    </td>
    <td>
    <p>.344</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NR-3078-R&amp;L</p>
    </td>
    <td>
    <p>.078</p>
    </td>
    <td>
    <p>.344</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NR-3094-R&amp;L</p>
    </td>
    <td>
    <p>.094</p>
    </td>
    <td>
    <p>.344</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NR-4062-R&amp;L</p>
    </td>
    <td>
    <p>.062</p>
    </td>
    <td>
    <p>.375</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NR-4094-R&amp;L</p>
    </td>
    <td>
    <p>.094</p>
    </td>
    <td>
    <p>.375</p>
    </td>
   </tr>
   <tr>
    <td>
    <p>NR-4125-R&amp;L</p>
    </td>
    <td>
    <p>.125</p>
    </td>
    <td>
    <p>.375</p>
    </td>
   </tr>
  </table>
  <p>Other sizes and styles of grooving tools available</p>
  </td>
 </tr>
 <tr>

 </tr>
</table>
<p><b>Other Standard Grooving Tool Inserts&nbsp;</b> <br />
    <b>Available with PCD (diamond) or CBN (carbide) </b></p>
<div>
  <table border="0" cellspacing="0" cellpadding="0" width="30%">
    <tr>
      <td><p>CC</p></td>
      <td><p>TLG</p></td>
      <td><p>TLRP</p></td>
    </tr>
    <tr>
      <td><p>NGP</p></td>
      <td><p>TLGP</p></td>
      <td><p>TNMC</p></td>
    </tr>
    <tr>
      <td><p>NRP</p></td>
      <td><p>TLR</p></td>
      <td><p>&nbsp;</p></td>
    </tr>
  </table>      
<p><b>World Diamond Tool for PCD Grooving Tools &amp; CBN Groovers</b></p>
      
  
  
