<h1>Inserts - Diamond PCD and CBN</h1>

<p>
  We offer a variety of easy solutions with PCD inserts and CDN inserts. <br />
  Standard or custom diamond and CBN inserts with a wide selection<br>
  of grades, shapes, and sizes manufacture to your specifications.
</p>
    
<div class="content_box" style="background-color:white; max-width:650px;">

  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
    <tr>
      <td rowspan="12">
        <p><b>TNG</b> negative</p>
        <p align="center">
          <img border="0" width="139" height="157" src="images/image001.gif"/>
        </p>
      </td>
      <td rowspan="2"><p>Insert</td>
      <td colspan="3"><p>Dimensions</td>
    </tr>
    <tr>
      <td>I.C.</td>
      <td>T</td>
      <td>R</td>
    </tr>
    <tr>
      <td>TNG-221</td>
      <td>.250</td>
      <td>.125</td>
      <td>.016</td>
    </tr>
    <tr>
      <td>TNG-222</td>
      <td>.250</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>TNG-321</td>
      <td>.375</td>
      <td>.125</td>
      <td>.016</td>
    </tr>
    <tr>
      <td>TNG-322</td>
      <td>.375</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>TNG-323</td>
      <td>.375</td>
      <td>.125</td>
      <td>.047</td>
    </tr>
    <tr>
      <td>TNG-324</td>
      <td>.375</td>
      <td>.125</td>
      <td>.063</td>
    </tr>
    <tr>
      <td>TNG-432</td>
      <td>.500</td>
      <td>.188</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>TNG-433</td>
      <td>.500</td>
      <td>.188</td>
      <td>.047</td>
    </tr>
    <tr>
      <td>TNG-434</td>
      <td>.500</td>
      <td>.188</td>
      <td>.063</td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
                  <tr>
                    <td rowspan="12">
                      <p>
                        <b><span>SNG</span></b> <br />
                        negative </p>
                      <p align="center" style='text-align:center'><img border="0" width="140" height="131" src="images/image002.gif" /></p></td>
                    <td rowspan="2"><p>Insert</td>
                    <td colspan="3"><p>Dimensions</td>
                  </tr>
                  <tr>
                    <td>I.C.</td>
                    <td>T</td>
                    <td>R</td>
                  </tr>
                  <tr>
                    <td>SNG-322</td>
                    <td>.375</td>
                    <td>.125</td>
                    <td>.031</td>
                  </tr>
                  <tr>
                    <td>SNG-323</td>
                    <td>.375</td>
                    <td>.125</td>
                    <td>.047</td>
                  </tr>
                  <tr>
                    <td>SNG-422</td>
                    <td>.500</td>
                    <td>.125</td>
                    <td>.031</td>
                  </tr>
                  <tr>
                    <td>SNG-423</td>
                    <td>.500</td>
                    <td>.125</td>
                    <td>.047</td>
                  </tr>
                  <tr>
                    <td>SNG-424</td>
                    <td>.500</td>
                    <td>.125</td>
                    <td>.063</td>
                  </tr>
                  <tr>
                    <td>SNG-432</td>
                    <td>.500</td>
                    <td>.188</td>
                    <td>.031</td>
                  </tr>
                  <tr>
                    <td>SNG-433</td>
                    <td>.500</td>
                    <td>.188</td>
                    <td>.047</td>
                  </tr>
                  <tr>
                    <td>SNG-444</td>
                    <td>.500</td>
                    <td>.188</td>
                    <td>.063</td>
                  </tr>
                  <tr>
                    <td>SNG-633</td>
                    <td>.750</td>
                    <td>.188</td>
                    <td>.047</td>
                  </tr>
                  <tr>
                    <td>SNG-644</td>
                    <td>.750</td>
                    <td>.188</td>
                    <td>.063</td>
                  </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
    <tr>
      <td rowspan="16">
        <p>
          <b>TPG</b><br />
          positive
        </p>
        <img border="0" width="150" height="143" src="images/image003.gif" />
      </td>
      <td rowspan="2">Insert</td>
      <td colspan="3">Dimensions</td>
    </tr>
    <tr>
      <td>I.C.</td>
      <td>T</td>
      <td>R</td>
    </tr>
    <tr>
      <td>TPG-221</td>
      <td>.250</td>
      <td>.125</td>
      <td>.016</td>
    </tr>
    <tr>
      <td>TPG-222</td>
      <td>.250</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>TPG-223</td>
      <td>.250</td>
      <td>.125</td>
      <td>.047</td>
    </tr>
    <tr>
      <td>TPG-224</td>
      <td>.250</td>
      <td>.125</td>
      <td>.063</td>
    </tr>
    <tr>
      <td>TPG-321</td>
      <td>.375</td>
      <td>.125</td>
      <td>.016</td>
    </tr>
    <tr>
      <td>TPG-322</td>
      <td>.375</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>TPG-323</td>
      <td>.375</td>
      <td>.125</td>
      <td>.047</td>
    </tr>
    <tr>
      <td>TPG-324</td>
      <td>.375</td>
      <td>.125</td>
      <td>.063</td>
    </tr>
    <tr>
      <td>TPG-431</td>
      <td>.500</td>
      <td>.188</td>
      <td>.016</td>
    </tr>
    <tr>
      <td>TPG-432</td>
      <td>.500</td>
      <td>.188</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>TPG-433</td>
      <td>.500</td>
      <td>.188</td>
      <td>.047</td>
    </tr>
    <tr>
      <td>TPG-434</td>
      <td>.500</td>
      <td>.188</td>
      <td>.063</td>
    </tr>    
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
                  <tr>
                    <td rowspan="16">
                      <p><b>SPG</b><br />
                      positive
                      </p>
                      <p>
                      <img border="0" width="145" height="139" src="images/image004.gif" />
                    </td>
                    <td rowspan="2"><p>Insert</td>
                    <td colspan="3"><p>Dimensions</td>
                  </tr>
                  <tr>
                    <td>I.C.</td>
                    <td>T</td>
                    <td>R</td>
                  </tr>
                  <tr>
                    <td>SPG-321</td>
                    <td>.375</td>
                    <td>.125</td>
                    <td>.016</td>
                  </tr>
                  <tr>
                    <td>SPG-322</td>
                    <td>.375</td>
                    <td>.125</td>
                    <td>.031</td>
                  </tr>
                  <tr>
                    <td>SPG-323</td>
                    <td>.375</td>
                    <td>.125</td>
                    <td>.047</td>
                  </tr>
                  <tr>
                    <td>SPG-324</td>
                    <td>.375</td>
                    <td>.125</td>
                    <td>.063</td>
                  </tr>
                  <tr>
                    <td>SPG-422</td>
                    <td>.500</td>
                    <td>.125</td>
                    <td>.031</td>
                  </tr>
                  <tr>
                    <td>SPG-423</td>
                    <td>.500</td>
                    <td>.125</td>
                    <td>.047</td>
                  </tr>
                  <tr>
                    <td>SPG-424</td>
                    <td>.500</td>
                    <td>.125</td>
                    <td>.063</td>
                  </tr>
                  <tr>
                    <td>SPG-432</td>
                    <td>.500</td>
                    <td>.188</td>
                    <td>.031</td>
                  </tr>
                  <tr>
                    <td>SPG-433</td>
                    <td>.500</td>
                    <td>.188</td>
                    <td>.047</td>
                  </tr>
                  <tr>
                    <td>SPG-434</td>
                    <td>.500</td>
                    <td>.188</td>
                    <td>.063</td>
                  </tr>
                  <tr>
                    <td>SPG-533</td>
                    <td>.625</td>
                    <td>.188</td>
                    <td>.047</td>
                  </tr>
                  <tr>
                    <td>SPG-632</td>
                    <td>.750</td>
                    <td>.188</td>
                    <td>.031</td>
                  </tr>
                  <tr>
                    <td>SPG-633</td>
                    <td>.750</td>
                    <td>.188</td>
                    <td>.047</td>
                  </tr>
                  <tr>
                    <td>SPG-634</td>
                    <td>.750</td>
                    <td>.188</td>
                    <td>.063</td>
                  </tr>
  </table> 
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
    <tr>
      <td rowspan="8">
        <p><b><span>TEG </span></b><br />
        hi-positive</p>
        <p><img border="0" width="153" height="130" src="images/image005.gif" />
      </td>
      <td rowspan="2"><p>Insert</td>
      <td colspan="3"><p>Dimensions</td>
    </tr>
    <tr>
      <td>I.C.</td>
      <td>T</td>
      <td>R</td>
    </tr>
    <tr>
      <td>TEG-2.521</td>
      <td>.313</td>
      <td>.125</td>
      <td>.016</td>
    </tr>
    <tr>
      <td>TEG-2.522</td>
      <td>.313</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>TEG-321</td>
      <td>.375</td>
      <td>.125</td>
      <td>.016</td>
    </tr>
    <tr>
      <td>TEG-322</td>
      <td>.375</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>TEG-422</td>
      <td>.500</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>TEG-423</td>
      <td>.500</td>
      <td>.125</td>
      <td>.047</td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
    <tr>
      <td rowspan="8">
        <p><b><span>TP</span></b> <br />
        positive </p>
        <img border="0" width="149" height="133" src="images/image006.gif" />
      </td>
      <td rowspan="2"><p>Insert</td>
      <td colspan="3"><p>Dimensions</td>
    </tr>
    <tr>
      <td>I.C.</td>
      <td>T</td>
      <td>R</td>
    </tr>
    <tr>
      <td>TP-40</td>
      <td>.250</td>
      <td>.094</td>
      <td>*</td>
    </tr>
    <tr>
      <td>TP-41</td>
      <td>.250</td>
      <td>.094</td>
      <td>.016</td>
    </tr>
    <tr>
      <td>TP-42</td>
      <td>.250</td>
      <td>.094</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>TP-61</td>
      <td>.375</td>
      <td>.125</td>
      <td>.016</td>
    </tr>
    <tr>
      <td>TP-62</td>
      <td>.375</td>
      <td>.125</td>
      <td>.031</td>
    </tr>          
  </table>   
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
    <tr>
      <td rowspan="12">
      <p><b>SD-P</b><br />
      positive </p>
      <img border="0" width="147" height="129" src="images/image007.gif" /></td>
      <td rowspan="2"><p>Insert</td>
      <td colspan="3"><p>Dimensions</td>
    </tr>
    <tr>
      <td>I.C.</td>
      <td>T</td>
      <td>R</td>
    </tr>
    <tr>
      <td>SD-6P</td>
      <td>.375</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>SD-7P</td>
      <td>.438</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>SD-8P</td>
      <td>.500</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>SD-9P</td>
      <td>.563</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>SD-12P</td>
      <td>.750</td>
      <td>.188</td>
      <td>.047</td>
    </tr>
    <tr>
      <td>SD-322D</td>
      <td>.375</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>SD-322P</td>
      <td>.375</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>SD-422P</td>
      <td>.500</td>
      <td>.125</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>SD-532P</td>
      <td>.625</td>
      <td>.188</td>
      <td>.031</td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
      <tr>
        <td rowspan="12">
          <p><b><span>CNMA</span></b> <br />
          negative</p>
            <p><img border="0" width="159" height="169" src="images/image008.gif" /></td>
        <td rowspan="2"><p>Insert</td>
        <td colspan="3"><p>Dimensions</td>
      </tr>
      <tr>
        <td>I.C.</td>
        <td>T</td>
        <td>R</td>
      </tr>
      <tr>
        <td>CNMA-322</td>
        <td>.375</td>
        <td>.125</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>CNMA-422</td>
        <td>.500</td>
        <td>.125</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>CNMA-432</td>
        <td>.500</td>
        <td>.188</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>CNMA-433</td>
        <td>.500</td>
        <td>.188</td>
        <td>.047</td>
      </tr>
      <tr>
        <td>CNMA-434</td>
        <td>.500</td>
        <td>.188</td>
        <td>.063</td>
      </tr>
      <tr>
        <td>CNMA-542</td>
        <td>.625</td>
        <td>.250</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>CNMA-543</td>
        <td>.625</td>
        <td>.250</td>
        <td>.047</td>
      </tr>
      <tr>
        <td>CNMA-642</td>
        <td>.750</td>
        <td>.250</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>CNMA-643</td>
        <td>.750</td>
        <td>.250</td>
        <td>.047</td>
      </tr>
      <tr>
        <td>CNMA-644</td>
        <td>.750</td>
        <td>.250</td>
        <td>.063</td>
      </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
    <tr>
      <td rowspan="10">
        <b>VNMA</b><br />
        negative
        <p>
          <img border="0" width="135" height="193" src="images/image009.gif"/>
        </p>
      </td>
      <td rowspan="2">Insert</td>
      <td colspan="3">Dimensions</td>
    </tr>
    <tr>
      <td>I.C.</td>
      <td>T</td>
      <td>R</td>
    </tr>
    <tr>
      <td>VNMA-331</td>
      <td>.375</td>
      <td>.188</td>
      <td>.016</td>
    </tr>
    <tr>
      <td>VNMA-332</td>
      <td>.375</td>
      <td>.188</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>VNMA-432</td>
      <td>.500</td>
      <td>.188</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>VNMA-442</td>
      <td>.500</td>
      <td>.250</td>
      <td>.031</td>
    </tr>
    <tr>
      <td>VNMA-443</td>
      <td>.500</td>
      <td>.250</td>
      <td>.047</td>
    </tr>    
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
      <tr>
        <td rowspan="10">
          <p><b><span>DNGA </span></b><br />
          negative </p>
            <img border="0" width="151" height="222" src="images/image010.gif" /></td>
        <td rowspan="2"><p>Insert</td>
        <td colspan="3"><p>Dimensions</td>
      </tr>
      <tr>
        <td>I.C.</td>
        <td>T</td>
        <td>R</td>
      </tr>
      <tr>
        <td>DNGA-2.522</td>
        <td>.313</td>
        <td>.125</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>DNGA-431</td>
        <td>.500</td>
        <td>.188</td>
        <td>.016</td>
      </tr>
      <tr>
        <td>DNGA-432</td>
        <td>.500</td>
        <td>.188</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>DNGA-433</td>
        <td>.500</td>
        <td>.188</td>
        <td>.047</td>
      </tr>
      <tr>
        <td>DNGA-531</td>
        <td>.625</td>
        <td>.188</td>
        <td>.016</td>
      </tr>
      <tr>
        <td>DNGA-542</td>
        <td>.625</td>
        <td>.250</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>DNGA-532</td>
        <td>.625</td>
        <td>.188</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>DNGA-533</td>
        <td>.625</td>
        <td>.188</td>
        <td>.047</td>
      </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
      <tr>
        <td rowspan="8">
          <p>
            <b>SEC</b><br />
            hi-positive <br />
            +or-.0005
          </p>
          <img border="0" width="116" height="110" src="images/image011.gif" />
        </td>
        <td rowspan="2">Insert</td>
        <td colspan="3">Dimensions</td>
      </tr>
      <tr>
        <td>I.C.</td>
        <td>T</td>
        <td>R</td>
      </tr>
      <tr>
        <td>SEC-322</td>
        <td>.375</td>
        <td>.125</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>SEC-422</td>
        <td>.500</td>
        <td>.125</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>SEC-424</td>
        <td>.500</td>
        <td>.125</td>
        <td>.063</td>
      </tr>
      <tr>
        <td>SEC-533</td>
        <td>.625</td>
        <td>.188</td>
        <td>.047</td>
      </tr>
      <tr>
        <td>SEC-632</td>
        <td>.750</td>
        <td>.188</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>SEC-633</td>
        <td>.750</td>
        <td>.188</td>
        <td>.047</td>
      </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
      <tr>
        <td rowspan="8">
          <p>
            <b>CPG</b><br />
            positive
          </p>
          <img border="0" width="155" height="169" src="images/image012.gif"/> 
        </td>
        <td rowspan="2"><p>Insert</td>
        <td colspan="3"><p>Dimensions</td>
      </tr>
      <tr>
        <td>I.C.</td>
        <td>T</td>
        <td>R</td>
      </tr>
      <tr>
        <td>CPG-420</td>
        <td>.500</td>
        <td>.125</td>
        <td>0</td>
      </tr>
      <tr>
        <td>CPG-421</td>
        <td>.500</td>
        <td>.125</td>
        <td>.016</td>
      </tr>
      <tr>
        <td>CPG-422</td>
        <td>.500</td>
        <td>.125</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>CPG-4622</td>
        <td>.464</td>
        <td>.125</td>
        <td>.031</td>
      </tr>
      <tr>
        <td>CPG-633</td>
        <td>.750</td>
        <td>.188</td>
        <td>.047</td>
      </tr>
  </table>
  <table class="table table-bordered" class="table table-bordered">
    <tr>
      <td colspan="11">
        <b>Other Standard Diamond PCD and CBN Inserts available:</b>
      </td>
    </tr>
    <tr>
      <td>CCMM</td>
      <td>CPGM</td>
      <td>DNGP</td>
      <td>EPMT</td>
      <td>SCMT</td>
      <td colspan="2">SNE</td>
      <td>TBEA</td>
      <td>TFG</td>
      <td>TPGA</td>
      <td>VCMW</td>
    </tr>
    <tr>
      <td>CCMT</td>
      <td>CPMA</td>
      <td>DNMG</td>
      <td>NPL</td>
      <td>SCMW</td>
      <td colspan="2">SNEA</td>
      <td>TBEE</td>
      <td>TM</td>
      <td>TPGM</td>
      <td>VNGA</td>
    </tr>
    <tr>
      <td>CCMW</td>
      <td>CPMT</td>
      <td>DNMM</td>
      <td>NPR</td>
      <td>SDE</td>
      <td colspan="2">SNMA</td>
      <td>TBGD</td>
      <td>TNC</td>
      <td>TPMA</td>
      <td>VNGP</td>
    </tr>
    <tr>
      <td>CDCD</td>
      <td>CPMW</td>
      <td>DNMP</td>
      <td>NPT</td>
      <td>SDEB</td>
      <td colspan="2">SNMG</td>
      <td>TBGE</td>
      <td>TNEA</td>
      <td>TPMC</td>
      <td>VNMG</td>
    </tr>
    <tr>
      <td>CNG</td>
      <td>DCMM</td>
      <td>DPG</td>
      <td>NT</td>
      <td>SEEN</td>
      <td colspan="2">SNMM</td>
      <td>TCMM</td>
      <td>TNMA</td>
      <td>TPMM</td>
      <td>VNMP</td>
    </tr>
    <tr>
      <td>CNGA</td>
      <td>DCMT</td>
      <td>DPGA</td>
      <td>NTB</td>
      <td>SEG</td>
      <td colspan="2">SPC</td>
      <td>TCMT</td>
      <td>TNMC</td>
      <td>TPMT</td>
      <td>VPGA</td>
    </tr>
    <tr>
      <td>CNMG</td>
      <td>DCMW</td>
      <td>DPGR</td>
      <td>PM</td>
      <td>SFA</td>
      <td colspan="2">SPCE</td>
      <td>TCMW</td>
      <td>TNMG</td>
      <td>TPMW</td>
      <td>VPGR</td>
    </tr>
    <tr>
      <td>CNMM</td>
      <td>DDG</td>
      <td>DPGT</td>
      <td>PNC</td>
      <td>SFE</td>
      <td colspan="2">SPE</td>
      <td>TD</td>
      <td>TPC</td>
      <td>TPV</td>
      <td>VPMA</td>
    </tr>
    <tr>
      <td>CNMP</td>
      <td>DDGA</td>
      <td>DPMT</td>
      <td>PNG</td>
      <td>SFG</td>
      <td colspan="2">SPEA/td>
      <td>TDED</td>
      <td>TPCE</td>
      <td>TX</td>
      <td>VPMT</td>
    </tr>
    <tr>
      <td>CPGA</td>
      <td>DDGB</td>
      <td>DPMW</td>
      <td>PPC</td>
      <td>SM</td>
      <td colspan="2">SPMA</td>
      <td>TEC</td>
      <td>TPEA</td>
      <td>U3</td>
      <td>VTGA</td>              
    </tr>
    <tr>
      <td>CPGB</td>
      <td>DNEA</td>
      <td>DTGA</td>
      <td>PPG</td>
      <td>SNC</td>
      <td colspan="2">SPMW</td>
      <td>TEEN</td>
      <td>TPEE</td>
      <td>VCMT</td>
    </tr>        
  </table>

</div>

<p>How can we help with your next order of diamond or CBN inserts?</p>
        