{% extends "base.twig" %}

    {% block marquee %}
        {% if (product == false) or (product == 'contact') %}
          {{ parent() }}  
        {% else %}    
            <h1>World Diamond Tool</h1>
            <h2>Manufacturers of Diamond Tools for any industry</h2>
            <h4>Standard    |    Special    |    Custom</h4>
        {% endif %}
    {% endblock %} 

    {% block menu %}  
        {{ parent() }}              
    {% endblock %}
      
   
    {% block footer %}
    {% endblock %}