<h1>Plated Mandrels - Diamond and CBN</h1>  

<h2>Plated mandrels by World Diamond Tool</h2>
          
<p> Remember to specify at the end of part description Diamond Mandrels or CBN Mandrel. </p>          

<div>
	<img src="images/mandrels.jpg" alt="plated mandrels diamond & cbn" width="250" height="233" style="margin-bottom:2em;"/>
</div>
<div>
	<img src="images/mandrels2.jpg" alt="diamond mandrel grits & sizes" width="680" height="671" />
</div>
<div> 
	<p>How can we help with your next CBN or diamond mandrel?</p>          
</div>
  