<h1>Plated Mandrels-Diamond and CBN</h1>  

<h2>Plated Mandrels by World Diamond Tool</h2>
          
<p> Remember to specify at the end of part description Diamond Mandrels or CBN Mandrel. </p>          

<p>How can we help with your next Diamond Mandrel or CBN Mandrel?</p>  

<div>
	<img src="images/mandrels.jpg" alt="plated mandrels diamond & cbn" width="250" height="233" />
</div>
<div>
	<img src="images/mandrels2.jpg" alt="diamond mandrel grits & sizes" width="680" height="671" />
</div>
<div> 
	<p>How can we help with your next CBN or Diamond Mandrel?</p>          
</div>
  