  <h1>Natural Diamond Turning Tools</h1> 

  <div>
    <img src="images/image002.jpg" alt="diamond turning tool" width="513" height="294" border="0" />
  </div>
          
  <div>
      <p>
        Natural Diamond Turning Tools are the preferred tools for finishing carbide dies. 
        For quick set ups and super finishes. These tools come with polished tables, not sawn. 
        <em>Westec Diamond Tool specializes in these diamond tools and can polish in any radii the stone will accept.</em>
      </p>
      <p>
        Natural Diamond Turing Tools come on a 3/8 shank standard, others upon request. 
        These tools come with a 76 &deg; included angle and a .007 radius as standard.
        Part number example-W7607 Part number stamped on shank. 
      </p>
      <p>
        <b><em>If you cut carbide dies you need diamond turning tools and may not know it!!</em></b>
      </p>              
      <p> 
        Natural Diamond Turing Tools can also be reconditioned provided the cutting edge has not been damaged 
        beyond repair. Call for a quick quote, place order for quick service, 2-3 week lead time
        is normal for our shop.
      </p>             
  </div>     
  
  <p>How can we help with your next purchase of Diamond Turning Tools?</p>
      
