<h1>Phono Points, Single Point Cone &amp; Chisel Dressers</h1> 

<h2>Phono Points</h2>

<div align="center">
  <table width="600" border="0">
    <tbody>
      <tr>
        <td width="330">
          <table border="1" cellspacing="0" cellpadding="0" align="left" width="330">
            <tr>
              <td width="22%" rowspan="2"><p align="center"><b>Shank size</b></p></td>
              <td width="77%" colspan="3"><h3 style='width: 100%;text-align: center; font-size:1em;margin-top:1em;margin-bottom:1em;'>Angle</h3></td>
            </tr>
            <tr>
              <td width="23%"><p align="center"><b>90</b><b>&deg;</b></p></td>
              <td width="27%"><p align="center"><b>75</b><b>&deg;</b></p></td>
              <td width="27%"><p align="center"><b>60</b><b>&deg;</b></p></td>
            </tr>
            <tr>
              <td width="22%"`><p align="center"><span>.082 x 1/2</span></p></td>
              <td width="23%"><p align="center"><span>PD-190</span></p></td>
              <td width="27%"><p align="center"><span>PD-175</span></p></td>
              <td width="27%" valign="top"><p align="center">PD-160</p></td>
            </tr>
            <tr>
              <td width="22%"><p align="center"><span>1/8 x 5/8</span></p></td>
              <td width="23%" valign="top"><p align="center">PD-290</p></td>
              <td width="27%" valign="top"><p align="center">PD-275</p></td>
              <td width="27%" valign="top"><p align="center"><span>PD-260</span></p></td>
            </tr>
            <tr>
              <td width="22%"><p align="center"><span>1/8 x 1</span></p></td>
              <td width="23%" valign="top"><p align="center"><span>PD-390</span></p></td>
              <td width="27%" valign="top"><p align="center"><span>PD-375</span></p></td>
              <td width="27%" valign="top"><p align="center"><span>PD-360</span></p></td>
            </tr>
            <tr>
              <td width="22%"><p align="center"><span>3/16 x 1</span></p></td>
              <td width="23%" valign="top"><p align="center"><span>PD-490</span></p></td>
              <td width="27%" valign="top"><p align="center"><span>PD-475</span></p></td>
              <td width="27%" valign="top"><p align="center"><span>PD-460</span></p></td>
            </tr>
            <tr>
              <td width="22%"><p align="center"><span>1/4 x 1</span></p></td>
              <td width="23%" valign="top"><p align="center"><span>PD-590</span></p></td>
              <td width="27%" valign="top"><p align="center"><span>PD-575</span></p></td>
              <td width="27%" valign="top"><p align="center"><span>PD-560</span></p></td>
            </tr>
          </table>          
        </td>   
        <td>
          <p align="center">
            <img src="images/image002a.jpg" alt="natural diamond phono points" width="179" height="154" />
          </p>
        </td>    
      </tr>
    </tbody>
  </table>
</div>

<div align="center">
<br>
<br>
  <h2>Single Point Cone Dressers</h2>
  <br>

  <table>
    <tr>
      <td>
        <table border="1" cellspacing="0" cellpadding="0" align="left" width="330">
          <tr>
            <td width="22%" rowspan="2"><p align="center"><b>Carat Weight</b></p></td>
            <td width="77%" colspan="3"><h3 style='width: 100%;text-align: center; font-size:1em;margin-top:1em;margin-bottom:1em;'>Angle</h3></td>
          </tr>
          <tr>
            <td width="23%"><p align="center"><b>90</b><b>&deg;</b></p></td>
            <td width="27%"><p align="center"><b>75</b><b>&deg;</b></p></td>
            <td width="27%"><p align="center"><b>60</b><b>&deg;</b></p></td>
          </tr>
          <tr>
            <td width="22%"><p align="center"><span>1/10</span></p></td>
            <td width="23%"><p align="center"><span>CP1090</span></p></td>
            <td width="27%" valign="top"><p align="center">CP1075</p></td>
            <td width="27%" valign="top"><p align="center">CP1060</p></td>
          </tr>
          <tr>
            <td width="22%"><p align="center"><span>1/8</span></p></td>
            <td width="23%" valign="top"><p align="center">CP1590</p></td>
            <td width="27%" valign="top"><p align="center">CP1575</p></td>
            <td width="27%" valign="top"><p align="center">CP1560</p></td>
          </tr>
          <tr>
            <td width="22%"><p align="center"><span>1/4</span></p></td>
            <td width="23%" valign="top"><p align="center">CP25<span>90</span></p></td>
            <td width="27%" valign="top"><p align="center">CP2575</p></td>
            <td width="27%" valign="top"><p align="center">CP2560</p></td>
          </tr>
          <tr>
            <td width="22%"><p align="center"><span>1/3</span></p></td>
            <td width="23%" valign="top"><p align="center">CP33<span>90</span></p></td>
            <td width="27%" valign="top"><p align="center">CP3375</p></td>
            <td width="27%" valign="top"><p align="center">CP3360</p></td>
          </tr>
          <tr>
            <td width="22%"><p align="center"><span>1/2</span></p></td>
            <td width="23%" valign="top"><p align="center">CP50<span>90</span></p></td>
            <td width="27%" valign="top"><p align="center">CP5075</p></td>
            <td width="27%" valign="top"><p align="center">CP5060</p></td>
          </tr>
        </table>
      </td>
      <td width="254"><div align="center"><img src="images/image004.jpg" alt="custom angle singl cone point dressers" width="156" height="141" /></div></td>
    </tr>
    <tr>
      <td colspan="2"><br><br><em><b>Throw-away single cone point dressers available as well as custom angles and shapes</b>.</em><br><br></td>
    </tr>
  </table>
</div>

<div align="center">
  <table width="600" border="0">
    <tr>
      <td colspan="2" height="40">
        <div align="center">
            <h2>Chisel Dressers</h2>
            <br>
        </div>
      </td>
    </tr>
    <tr>
      <td width="300"><img src="images/image006.jpg"></td>
      <td width="300" align="center" valign="top">
        <table width="100%"  border="0" cellspacing="00" cellpadding="8">
          <tr>
            <td><img src="images/image008.jpg" alt="chisel dresser" width="216" height="206" /></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<br>
<p>How can we help with your next Diamond Cutting Tools, Phono Points, Chisel Dressers?</p>

