{% extends "base.twig" %}

{% block content %}
	<div class="content clearfix">
	    <div class="center_box clearfix">
	        {% block header %}<!-- the product pages will overrride the base template's header here  -->
                <h1>World Diamond Tool</h1>
            {% endblock %}<!-- all pages have the same menu, so this is not necessary, (YET..)  -->
	        {% block menu %}  
                {{ parent() }}              
            {% endblock %}
{{ dump(product) }}
		    <h2>Manufacturers of Diamond Tools for any industry</h2>		   
		</div>
	
    	<!-- render whichever block is defined in the query string (example: 'index.php?compounds') -->
        {% if product==true %}
            {% include product ~ '.html' %}
        {% endif %}
        <!-- how do we differentiate between base and procuct?
          if product is true then embed ~product temnplate...(can this be a variable?)
          if product exists(if query string (?) exists) then override those blocks on the base template. -->

    </div>
{% endblock content %}

    {% block footer %}
    {% endblock %}