<h1>PCD- CBN Carbide &amp; Diamond Turning Tools</h1>

<div>
  <img src="images/tt005.jpg" alt="industrial diamond cutting tools" width="582" height="271" />
</div>

<div class="turning-tools">


  <table cellspacing="0" cellpadding="0">
    <tbody>     

      <tr>
        <td>

          <table cellspacing="0" cellpadding="0">            
            <tbody>

              <tr>
                <td width="51%">
                  <p><strong>STYLE A</strong></p>
                  <p align="center"><img src="images/tt001.gif" alt="right handed diamond turning tool" width="266" height="125"></p>
                  <h3>Right hand turning tool shown</h3>
                </td>

                <td valign="middle">
                  <table cellspacing="0" cellpadding="4">
                    <tbody>
                      <tr>
                        <td><p align="center">Tool number </p></td>
                        <td><p align="center">A </p></td>
                        <td><p align="center">B </p></td>
                        <td><p align="center">C </p></td>
                        <td><p align="center">R </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">AR &amp; AL 4 </p></td>
                        <td><p align="center">.250 </p></td>
                        <td><p align="center">.250 </p></td>
                        <td><p align="center">2.000 </p></td>
                        <td><p align="center">.016 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">AR &amp; AL 6 </p></td>
                        <td><p align="center">.375 </p></td>
                        <td><p align="center">.375 </p></td>
                        <td><p align="center">2.500 </p></td>
                        <td><p align="center">.016 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">AR &amp; AL 8 </p></td>
                        <td><p align="center">.500 </p></td>
                        <td><p align="center">.500 </p></td>
                        <td><p align="center">3.500 </p></td>
                        <td><p align="center">.031 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">AR &amp; AL 10 </p></td>
                        <td><p align="center">.625 </p></td>
                        <td><p align="center">.625 </p></td>
                        <td><p align="center">4.000 </p></td>
                        <td><p align="center">.031 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">AR &amp; AL 12 </p></td>
                        <td><p align="center">.750 </p></td>
                        <td><p align="center">.750 </p></td>
                        <td><p align="center">4.500 </p></td>
                        <td><p align="center">.031 </p></td>
                      </tr>

                      <tr>
                        <td><p align="center">AR &amp; AL 16 </p></td>
                        <td><p align="center">1.000 </p></td>
                        <td><p align="center">1.000 </p></td>
                        <td><p align="center">7.000 </p></td>
                        <td><p align="center">.031 </p></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td width="51%">
                  <p><strong>STYLE B</strong></p>
                  <p align="center"><img width="267" height="146" src="images/tt002.gif"></p>
                  <h3>Right hand turning tool shown</h3>
                </td>
                <td width="49%" valign="middle">
                  <table width="294" cellpadding="4" cellspacing="0">
                    <tbody>
                      <tr>
                        <td width="85"><p align="center">Tool number </p></td>
                        <td width="35"><p align="center">A </p></td>
                        <td width="35"><p align="center">B </p></td>
                        <td width="49"><p align="center">C </p></td>
                        <td width="43"><p align="center">R </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">BR &amp; BL 4 </p></td>
                        <td><p align="center">.250 </p></td>
                        <td><p align="center">.250 </p></td>
                        <td><p align="center">2.000 </p></td>
                        <td><p align="center">.016 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">BR &amp; BL 6 </p></td>
                        <td><p align="center">.375 </p></td>
                        <td><p align="center">.375 </p></td>
                        <td><p align="center">2.500 </p></td>
                        <td><p align="center">.016 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">BR &amp; BL 8 </p></td>
                        <td><p align="center">.500 </p></td>
                        <td><p align="center">.500 </p></td>
                        <td><p align="center">3.500 </p></td>
                        <td><p align="center">.031 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">BR &amp; BL 10 </p></td>
                        <td><p align="center">.625 </p></td>
                        <td><p align="center">.625 </p></td>
                        <td><p align="center">4.000 </p></td>
                        <td><p align="center">.031 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">BR &amp; BL 12 </p></td>
                        <td><p align="center">.750 </p></td>
                        <td><p align="center">.750 </p></td>
                        <td><p align="center">4.500 </p></td>
                        <td><p align="center">.031 </p></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td width="51%"><p><strong>STYLE D</strong></p>
                    <p align="center"><img width="282" height="138" src="images/tt003.gif"></p>
                </td>
                <td width="49%" valign="middle">
                  <table cellspacing="0" cellpadding="4">
                    <tbody>
                      <tr>
                        <td><p align="center">Tool number </p></td>
                        <td><p align="center">A </p></td>
                        <td><p align="center">B </p></td>
                        <td><p align="center">C </p></td>
                        <td><p align="center">R </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">D-4 </p></td>
                        <td><p align="center">.250 </p></td>
                        <td><p align="center">.250 </p></td>
                        <td><p align="center">2.000 </p></td>
                        <td><p align="center">.016 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">D-6 </p></td>
                        <td><p align="center">.375 </p></td>
                        <td><p align="center">.375 </p></td>
                        <td><p align="center">2.500 </p></td>
                        <td><p align="center">.016 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">D-8 </p></td>
                        <td><p align="center">.500 </p></td>
                        <td><p align="center">.500 </p></td>
                        <td><p align="center">3.500 </p></td>
                        <td><p align="center">.031 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">D-10 </p></td>
                        <td><p align="center">.625 </p></td>
                        <td><p align="center">.625 </p></td>
                        <td><p align="center">4.000 </p></td>
                        <td><p align="center">.031 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">D-12 </p></td>
                        <td><p align="center">.750 </p></td>
                        <td><p align="center">.750 </p></td>
                        <td><p align="center">4.500 </p></td>
                        <td><p align="center">.031 </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">D-16 </p></td>
                        <td><p align="center">1.000 </p></td>
                        <td><p align="center">1.000 </p></td>
                        <td><p align="center">7.000 </p></td>
                        <td><p align="center">.031 </p></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td width="51%">
                  <p><strong>STYLE E</strong></p>
                  <p align="center"><img width="290" height="130" src="images/tt004.gif"></p>
                </td>
                <td width="49%" valign="middle">
                  <table width="287" height="157" cellpadding="4" cellspacing="0">
                    <tbody>
                      <tr>
                        <td width="96"><p align="center">Tool number</p></td>
                        <td width="42"><p align="center">A </p></td>
                        <td width="39"><p align="center">B </p></td>
                        <td width="49"><p align="center">C </p></td>
                        <td width="19"><p align="center">R </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">E-4 </p></td>
                        <td><p align="center">.250 </p></td>
                        <td><p align="center">.250 </p></td>
                        <td><p align="center">2.000 </p></td>
                        <td><p align="center">- </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">E-6 </p></td>
                        <td><p align="center">.375 </p></td>
                        <td><p align="center">.375 </p></td>
                        <td><p align="center">2.500 </p></td>
                        <td><p align="center">- </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">E-8 </p></td>
                        <td><p align="center">.500 </p></td>
                        <td><p align="center">.500 </p></td>
                        <td><p align="center">3.500 </p></td>
                        <td><p align="center">- </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">E-10 </p></td>
                        <td><p align="center">.625 </p></td>
                        <td><p align="center">.625 </p></td>
                        <td><p align="center">4.000 </p></td>
                        <td><p align="center">- </p></td>
                      </tr>
                      <tr>
                        <td><p align="center">E-12 </p></td>
                        <td><p align="center">.750 </p></td>
                        <td><p align="center">.750 </p></td>
                        <td><p align="center">4.500 </p></td>
                        <td><p align="center">- </p></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

            </tbody>
          </table>

        </td>
      </tr>

    </tbody>
  </table>
 
</div> 

<p>How can we help with your next purchase of a Carbide, CBN or Diamond Turning Tool?</p> 