* {
	box-sizing: border-box;
}
body {
    font-family: arial, helvetica, serif;
    background: #999999 url(/images/ddbg3.gif) no-repeat;
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.75em;
	color: #000000;
	font-weight:500;
	clear:both;
	margin:2em 0 1em 0;
}
p {
	margin: 1em auto 2em auto;
    max-width: 650px;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	display: block;
	color: #000000;
	margin-top: 0;
	margin-bottom:.5em;
}
h3 {
	font-size:.82em;
	display: inline-block;
	margin-bottom:2em;
	margin-top: 0;
}
h4 {
	font-size:.7px;
	display: inline;
}
h5 {
	font-size:.62em;
	display: inline;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
header {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	font-weight:400;
	text-align:center;
	width:100%;
	display:inline-block;	
	padding: 4% 2%;
}
header.contact{
	padding: 3% 0 1% 0;
}
header span.company{
	font-size:1.5em;
	font-weight:bold;
	display: block;
	margin-bottom: .25em;
}
.blue {	
	color: #0000FF;
}
.red  {	
	color: #FF0000;
} 
.center_box {
    margin-right: auto;
    margin-left: auto;
}
footer {
	font-family:Arial, Helvetica, sans-serif;
	font-size:.75em;
	font-weight:400;
	text-align:center;
	width:100%;
	display:inline-block;	
	padding: 3em 2em;
}
footer span.company{
	font-size:1em;
	font-weight:bold;
}
.copyright{
	font-size:10px;
	padding: 2em 0;
}
#tpg_box {
	width: 660px;
	margin-right: auto;
	margin-left: auto;
}
#tpg_box2 {
	width: 440px;
	float: left;
}
#tpg_box3 {
	float: left;
}
.content {
	width: 100%;
    height: auto;
    background-color: #CCCCCC;
    margin-right: auto;
    margin-left: auto;
    float: left;
    text-align: center;
}
.price_box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	width: 110px;
}
.logo_box {
	height: 262px;
	width: 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/world_logo.png', sizingMethod='absolute');
	background-image: url(/images/world_logo.png);
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	z-index: 999;
}
.turning-tools table{
	margin: 0 auto;
	background-color: white;
}
.countersink_box{
	background: white;
    margin: 0 auto;
    max-width: 700px;
}
#specials_pg {
	background-color: #FFFFFF;
	background-position: center top;
	text-align: center;
}
.copy_box1 {	
	float: left;
	width: 100%;
	padding: 0 3em;	
}
.copy_box2 {
	margin-left: 0px;	
	margin-top: 20px;	
	float: none;
	width: 100%;
	margin-right: 0px;
}
.specials_box {
    height: 108px;
    width: 100%;
    float: left;
    margin: 2em 0;
}
.spacer {
	line-height: .8em;
	margin-top: 12px;
}
/* Contact form styles */
.form-container{
	max-width: 500px;
    margin: 3em auto;
    background-color: #efefef;
    padding: 1em;
    border-radius: 8px;
}
.form-container form{

}
.form-item{
	text-align: center;
    margin: 1em 0;

}
.form-item label{
	display: block;
    text-align: left;
    margin: 0 auto;
    width: 375px;
}
.form-item input,.form-item select {

}
.form-input{
	
}
.form-item select {
	width: 80%;
	height: 23px;
}
.col2{
	width: 100%;
    float: left;
    clear: left;
}
.col2 label {

}
input.submit{
	margin: 2em 0;
}
.textbox{
	height: 150px;
}

/* ------ menu styles------ */
.menu_box, #menu_box {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 0px;
	text-indent: 0px;
	font-size: .9em;
}
#menu {
	background: #eee;
	width:512px;
	margin:0 auto;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 128px;
	float: left;
}
#menu a, #menu h2 {
	font: bold 11px/16px arial, helvetica, sans-serif;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #888 #555 #bbb;
	margin: 0;
	padding: 2px 3px;
	background-color: #043882;
}
#menu h2 {
	color: #fff;
	text-transform: uppercase;
}
#menu a {
	color: #043882;
	background: #efefef;
	text-decoration: none;
}
#menu a:hover {
	color: #a00;
	background: #fff;
}
#menu li {
	position: relative;
}
#menu ul ul {
	position: absolute;
	z-index: 500;
	*margin-left: 0;
}
/*#menu ul ul li a {
	width: 140px;
}*/
#menu ul ul ul {
	position: absolute;
	top: 0;
	left: 100%;
}
div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{
	display: none;
}
div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{
	display: block;
}
/* ------end menu styles------ */

